@model OSBLE.Models.Users.UserProfile

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>UserProfile</legend>

    <div class="display-label">UserName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserName)
    </div>

    <div class="display-label">School</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.School.Name)
    </div>

    <div class="display-label">FirstName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>

    <div class="display-label">LastName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>

    <div class="display-label">Identification</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Identification)
    </div>

    <div class="display-label">IsAdmin</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsAdmin)
    </div>

    <div class="display-label">CanCreateCourses</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CanCreateCourses)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
