@using OSBLE.Models
@if (ViewBag.CurrentCourses.Count > 0) {
<text>Course: </text><br />
using (Html.BeginForm("SetCourse", "Home", FormMethod.Post, new { id = "set_course" }))
{
    <select name="course" id="course_select">
        @foreach (OSBLE.Models.CoursesUsers cu in ViewBag.CurrentCourses)
        {
            string courseDisplay = @Helpers.CourseTag(cu.Course) + " - " + cu.Course.Name + " (" + cu.CourseRole.Name + ")";
            CoursesUsers ac = ViewBag.ActiveCourse as CoursesUsers;

            if ((ac != null) && (ac.CourseID == cu.CourseID))
            {
            <option value=@cu.CourseID selected="selected">@courseDisplay</option>
            }
            else
            {
            <option value=@cu.CourseID>@courseDisplay</option>
            }
        }
    </select>
    <input type="hidden" name="redirect" value="@Request.Path" />
}
@*
    When select box changes, change our active course.
*@
<script type="text/javascript">
    $('#course_select').change(function () {
        $('#set_course').submit();
    });
</script>
    } else {
     <text>No Courses!</text>
    }
    @if (ViewBag.CurrentUser.CanCreateCourses)
    {
    <a href="/Course/Create" id="course_create_button">@Helpers.AddButton()</a>
    }