@using OSBLE.Models.Courses
@if (ViewBag.CurrentCourses.Count > 0) {
<text>@(ViewBag.CourseListTitle): </text><br />
using (Html.BeginForm("SetCourse", "Home", FormMethod.Post, new { id = "set_course" }))
{
    <select name="course" id="course_select">
        @{
        bool courseOptGroup = false;
        bool communityOptGroup = false;
        }

        @foreach (OSBLE.Models.Courses.CoursesUsers cu in ViewBag.CurrentCourses)
        {
            // Skip hidden courses
            if(cu.Hidden) {
                continue;
            }
            
            string courseDisplay = @Helpers.CourseTag(cu.Course) + " - " + cu.Course.Name + " (" + cu.CourseRole.Name + ")";

            if((cu.Course is Course) && (cu.Course as Course).Inactive) {
                courseDisplay += " [INACTIVE]";
            }

            CoursesUsers ac = ViewBag.ActiveCourse as CoursesUsers;
            
            if(cu.Course is Course && !courseOptGroup) {
                courseOptGroup = true;
                @:<optgroup label="Courses">
            }

            if(cu.Course is Community && !communityOptGroup) {
                communityOptGroup = true;
                if(courseOptGroup) {
                @:</optgroup>
                }
                @:<optgroup label="Communities">
            }

            if ((ac != null) && (ac.CourseID == cu.CourseID))
            {
            <option value=@cu.CourseID selected="selected">@courseDisplay</option>
            }
            else
            {
            <option value=@cu.CourseID>@courseDisplay</option>
            }

        }
        @{
            if(courseOptGroup || communityOptGroup) {
            @:</optgroup>   
        }
    }
    </select>
    <input type="hidden" name="redirect" value="@Request.Path" />
}
@*
    When select box changes, change our active course.
*@
<script type="text/javascript">
    $('#course_select').change(function () {
        $('#set_course').submit();
    });
</script>
}
else
{
     <text>No Courses!</text>
}
    @if (ViewBag.CurrentUser.CanCreateCourses)
    {
    <a href="#" onclick="$('#course_create_dialog').dialog('open'); return false;" id="course_create_button">@Helpers.AddButton()</a>
        
    <script type="text/javascript">
        $(function () {
            $('#course_create_dialog').dialog({ 
                modal: true,
                autoOpen: false,
                resizable: false,
                width: 350,
                height: 200,
                closeOnEscape: false
                });
        });
    </script>
        
    <div id="course_create_dialog" title="Create Course">
        <p>Would you like to create a Course or a Community?</p>
        @Html.ActionLink("Create Course", "Create", "Course") | @Html.ActionLink("Create Community", "Create", "Community")
    </div>
    }