<div id="tabs">
    @using OSBLE.Controllers
    @foreach (OSBLEController.MenuItem m in ViewBag.Menu)
    {
        if ((ViewBag.UserProfile != null) && (ViewBag.ActiveCourse != null) &&            
            (!m.AdminOnly || ViewBag.UserProfile.IsAdmin) &&
           (!m.ModifierOnly || ViewBag.ActiveCourse.CourseRole.CanModify) &&
            (!m.ViewerOnly || ViewBag.ActiveCourse.CourseRole.CanSeeAll) 
            )
        {
        @Html.ActionLink(@m.Name, @m.Action, @m.Controller, null, new { Class = ViewBag.CurrentTab == @m.Name ? "tab_current" : "" })
        }
    }
</div>