<div id="tabs">
    @using OSBLE.Controllers
    @foreach (OSBLEController.MenuItem m in ViewBag.Menu)
    {
        @Html.ActionLink(@m.Name, @m.Action, @m.Controller, null, new { Class = ViewBag.CurrentTab == @m.Name ? "tab_current" : "" })
    }
</div>