@using OSBLE.Resources
@using OSBLE.Models.Assignments
@model DynamicDictionary
@{
    dynamic dataModel = Model;
    List<ReviewTeam> authorTeams = dataModel.CRSubmission.authorTeams;
}
@{
    
    AjaxOptions options = new AjaxOptions()
    {
        LoadingElementId = "Loading",
        HttpMethod = "Get",
        UpdateTargetId = "submitFiles",
        OnComplete = "SubmissionLoaded"
    };
    <tr>
        <th>
            Assignments to Review
        </th>
        <td>
            <table id="CriticalReviews">
                @{
                    int i = 0;
                    foreach (ReviewTeam rt in authorTeams)
                    {
                    <!-- Add a seperating line (table border bottom) except for the last cell -->
                        string trclass = "";
                        if (i != authorTeams.Count() - 1)
                        {
                            trclass = "TableRowCriticalReview";
                        }
                    <tr class="@trclass">
                        <td>
                            @rt.AuthorTeam.Name
                        </td>
                        <td>
                            <table id="CriticalReviewSubTable">
                                <tr>
                                    <td>
                                        @{
                                            string name;
                                            
                                            if (!dataModel.CRSubmission.hasTeams)
                                            {
                                                name = rt.AuthorTeam.Name;
                                            }
                                            else
                                            {
                                                name = rt.AuthorTeam.TeamMembers.FirstOrDefault().CourseUser.UserProfile.FirstName;
                                            }

                                            if (dataModel.CRSubmission.authorSubmissionTimes[i] == null)
                                            {
                                                @name@: has not submitted anything to review
                                            }
                                            else
                                            {
                                                    @Html.ActionLink("Download " + name
                                                + "'s submission to review",
                                                "GetPrecedingSubmissionForCriticalReview", "FileHandler",
                                                new { assignmentId = dataModel.CRSubmission.assignmentId, authorTeamId = rt.AuthorTeamID, area = "" },
                                                new { onclick = "create_and_open_downloading_submission_dialog()" })
                                             }
                                        }
                                        
                                    </td>
                                </tr>
                                @if (dataModel.CRSubmission.submissionTimes[i] == null)
                                {
                                    <tr>
                                        <td>
                                        @if(dataModel.CRSubmission.authorSubmissionTimes[i] != null)
                                        {
                                            @Ajax.ActionLink("Upload your review", "Create", "Submission", new { id = dataModel.CRSubmission.assignmentId, authorTeamID = rt.AuthorTeamID, area = "" }, options, new object())
                                        }
                                        </td>
                                    </tr>
                                }
                                
                                else
                                {
                                    String submissionTime = dataModel.CRSubmission.submissionTimes[i].ToString();
                                    <tr>
                                        <td title="Last submitted: @submissionTime">
                                            @Html.ActionLink("Download your review", "GetCriticalReviewSubmissionZip", "FileHandler", new { assignmentId = dataModel.CRSubmission.assignmentId, authorTeamId = rt.AuthorTeamID, area = "" }, new { onclick = "create_and_open_downloading_submission_dialog()" })
                                            @Ajax.ActionLink("Resubmit", "Create", "Submission", new { id = dataModel.CRSubmission.assignmentId, authorTeamID = rt.AuthorTeamID, area = "" }, options, new object())
                                        </td>
                                    </tr>
                                    
                                }
                            </table>
                        </td>
                    </tr>
                    
                                i++;
                    }
                }
            </table>
        </td>
    </tr>
}
<!--Elements for submission modal box and loading message-->
<text id="Loading" style="display: none"> <br />Please Wait...</text>
<div id="submit_files_dialog" style="display: none">
    <div id="submitFiles">
    </div>
    <script type="text/javascript">
        $(function () {
            $('#submit_files_dialog').dialog(
            {
                modal: true,
                autoOpen: false,
                height: 600,
                width: 500
            });
        });
    </script>
</div>
</div> 
