@using OSBLE.Resources
@using OSBLE.Models.Courses
@using OSBLE.Models.Assignments
@model DynamicDictionary
@{
    dynamic dataModel = Model;               
}
<tr>
    <!--Team members row-->
    <th>
        Your Team
    </th>
    <td>
    <strong>@dataModel.Team.Name</strong>
    
    <ul class="UserList">
        @foreach (TeamMember member in dataModel.Team.TeamMembers)
        {
          <li>    
            <div class="UserControls">
                @if (member.CourseUser.UserProfile.UserName != null)
                {
                    <a title="Mail This User" href="@Url.Action("CreateTeamMember", "Mail", new { id = member.CourseUser.UserProfile.ID, area = "" })">@Helpers.MailButton()</a>
                }
            </div>
            @Helpers.SmallProfilePicture(@Url.Action("ProfilePicture", "Roster", new { userProfile = member.CourseUser.UserProfile.ID, area = "" }))
            <span class="roster_name">@Helpers.DisplayFullNameOrPending(member.CourseUser.UserProfile)</span>
                </li>  
        }

        <br />
        <a title="Email whole team" href="@Url.Action("CreateEntireTeam", "Mail", new { teamID = dataModel.Team.ID, area = "" })">
            Email the whole team</a>
    </ul>
    </td>
</tr>
