@using OSBLE.Areas.AssignmentDetails.Models.HeaderBuilder
@using OSBLE.Models.Users
@using OSBLEPlus.Logic.DomainObjects.ActivityFeeds
@using OSBLE.Models.Courses;
@using OSBLE.Models;
@model List<AggregateFeedItem>
@{
    string additionalStyle = "";
    if (ViewBag.FeedItemStyle != null)
    {
        additionalStyle = ViewBag.FeedItemStyle;
    }
    UserProfile currentUser = ViewBag.CurrentUser;
    Dictionary<int, int> subscriptions = new Dictionary<int, int>();
    //foreach (EventLogSubscription log in currentUser.LogSubscriptions)
    //{
    //    subscriptions[log.LogId] = log.LogId;
    //}
    
    bool showFooter = ViewData["ShowFooter"] == null? true : (bool)ViewData["ShowFooter"];
    bool showDetails = ViewData["ShowDetails"] == null? false : (bool)ViewData["ShowDetails"];
}
@foreach (AggregateFeedItem item in Model)
{
    int lastLogId = item.Items.Select(m => m.Event.EventLogId).Max();
    List<int> eventLogIds = item.Items.Select(i => i.Event.EventLogId).ToList();
    bool isSubscribed = false;
    bool isComment = item.FeedItemType.Replace(" ", "") == "LogCommentEvent";
    
    foreach (int logId in eventLogIds)
    {
        if (subscriptions.ContainsKey(logId) == true)
        {
            isSubscribed = true;
            break;
        }
    }
    
    //do we need to anonymize?
    if(item.IsAnonymous == true && currentUser.ID != item.Creator.ID)
    {
        item.Creator.FirstName = "A student";
        item.Creator.LastName = "";
        item.Creator.ID = -1;
    }
    
    <article id="feed-item-@lastLogId" data-id="@lastLogId" class="feed-item-single @additionalStyle">
        
        <div class="dp_post panel panel-default" >
            <div class="dp_post_header panel-heading">
                <img src="@Url.Action("Picture", "User", new { id = item.Creator.ID, size = 52 })" class="profile_picture" title="profile image" alt="profile image" />
                @*@if (item.HelpfulMarks > 0)
                {
                    @:<span class="helpful-marks">+@item.HelpfulMarks</span>
                }*@
                @if (isSubscribed)
                {
                    <img src="~/Content/icons/follow.png" alt="you are following this post" title="you are following this post" />
                } 

                <a class="display_name" href="@Url.Action("Index", "Profile", new { id = item.Creator.ID })">@item.Creator.FullName</a>
                <time class="utc-time feed-item-date"
                        datetime="@Helpers.DateAsUnixTime(item.MostRecentOccurance)"
                        data-original-date="@Helpers.RawDate(item.MostRecentOccurance)"
                        data-date-format="MM/DD/YYYY hh:mm A">
                    @item.MostRecentOccurance.ToString("MM/dd @ hh:mmtt") (UTC)
                </time> 

                @* Mail and Delete Buttons *@
                <div class="dp_tools">
                    @if (ViewBag.CurrentUser.ID != item.Creator.ID && !item.IsAnonymous)
                    {
                        <a title="Mail This User" href="@Url.Action("CreateUser", "Mail", new { id = item.Creator.ID })"><span class="glyphicon glyphicon-envelope"></span></a>
                    }
                    @if (ViewBag.CurrentUser.ID == item.Creator.ID || ViewBag.ActiveCourseUser.AbstractRole.CanModify)
                    {
                        string deleteAction = "";
                        string deleteConfirm = "";
                        if (item.FeedItemType.Replace(" ", String.Empty) == "FeedPostEvent")
                        {
                            deleteAction = "DeleteFeedPost";
                            deleteConfirm = "Are you sure you want to delete this post and all its replies?";
                        }
                        else if (item.FeedItemType.Replace(" ", String.Empty) == "LogCommentEvent")
                        {
                            deleteAction = "DeleteLogComment";
                            deleteConfirm = "Are you sure you want to delete this reply?";
                        }

                        <form action="@Url.Action(deleteAction)"
                              style="display: inline;"
                              data-ajax="true"
                              data-ajax-success="$('#feed-item-@(item.Items[0].Event.EventLogId)').hide('blind',{},'slow',function(){$(this).remove();})"
                              data-ajax-confirm="@deleteConfirm"
                              method="post">
                            <input type="hidden" name="id" value="@item.Items[0].Event.EventLogId" />
                            @*@Helpers.DeleteSubmit("Delete This Dashboard Post")*@
                            <a title="Delete This Dashboard Post" onclick="$(this).parents('form:first').submit(); decreaseConversationsNumber(@ViewBag.ParentId);"><span class="glyphicon glyphicon-trash"></span></a>
                        </form>
                    }
                    @if (ViewBag.CurrentUser.ID == item.Creator.ID || ViewBag.ActiveCourseUser.AbstractRole.CanModify)
                    {
                        string editAction = "";
                        string editConfirm = "";

                        if (item.FeedItemType.Replace(" ", String.Empty) == "FeedPostEvent")
                        {
                            editAction = "EditFeedPost";
                        }
                        else if (item.FeedItemType.Replace(" ", String.Empty) == "LogCommentEvent")
                        {
                            editAction = "EditLogComment";
                        }

                        <form action="@Url.Action(editAction)"
                              id="edit-form-@item.Items[0].Event.EventLogId"
                              style="display: inline;"
                              data-ajax="true"
                              data-ajax-sucess="$('#feed-item-@(item.Items[0].Event.EventLogId)').hide('blind',{},'slow',function(){$(this).remove();})"
                              data-ajax-confirm="@editConfirm"
                              method="POST">
                            <input type="hidden" , name="id" , value="@item.Items[0].Event.EventLogId"/>
                            <a title="Edit This Post" onclick="updateText(@item.Items[0].Event.EventLogId);"><span class="glyphicon glyphicon-pencil"></span></a>
                        </form>
                    }
                </div>
            </div>


            <div class="dp_content" >
                @{
                    string partialName = showDetails? "Details/_" : "Feed/_";
                    partialName += item.Items.First().Event.EventName.Replace(" ", String.Empty);
                }
                @Html.Partial(partialName, item)    
            </div>
            
            <div class="feed-item-comments panel-group" id="feed-item-comments-@lastLogId">
                @{
                    List<FeedItem> commentItems = new List<FeedItem>();
                    foreach (LogCommentEvent comment in item.Comments)
                    {
                        FeedItem fi = new FeedItem();
                        fi.Event = comment;
                        fi.Comments = new List<LogCommentEvent>();
                        commentItems.Add(fi);
                    }
                    if (commentItems.Count > 0)
                    {
                        // Set these to make the comments display properly
                        ViewDataDictionary vdd = new ViewDataDictionary(ViewData);
                        vdd["ShowFooter"] = false;
                        vdd["ShowDetails"] = true;
                        
                        ViewBag.ParentId = item.Items[0].Event.EventLogId;
                        @Html.Partial("Feed/_FeedItems", AggregateFeedItem.FromFeedItems(commentItems), vdd)
                    }
                }

            </div>

        @if(showFooter)
        {
            <div class="feed-item-footer">               
                @if (!isComment) { 
                    @* Note: Hidden by default. Only shows when user clicks reply *@
                    using (Ajax.BeginForm("PostComment", "Feed",
                        new AjaxOptions
                        {
                            HttpMethod = "POST",
                            UpdateTargetId = showDetails? "Details" : "activity_feed_content",
                            OnSuccess = "PostReplyComplete(" + lastLogId + ")",
                        },
                        new {
                            @class = "feed-reply-form",
                            id = "feed-reply-" + lastLogId,
                        }))
                    {
                        <textarea name="response" id="feed-item-respond-@lastLogId" placeholder="Say something..." class="form-control"></textarea>
                        <input name="response-submit" class="btn btn-default btn-sm" type="submit" value="Send" />
                        <input name="response-cancel" class="btn btn-default btn-sm" type="reset" value="Cancel" onclick="HideReplyBox(@lastLogId)" />
                        <input name="logID" type="hidden" value="@lastLogId" />
                        <input name="showDetails" type="hidden" value="@showDetails.ToString()" />
                    }
                }
                
                <ul class="feed-item-links">
                    @* No need to have a "details" link if we're already there *@
                    @if (!showDetails)
                    {
                        int[] ids = item.Items.Select(i => i.Event.EventLogId).ToArray();
                        string idString = string.Join(",", ids);
                        <li>
                            @if (isComment)
                            {
                                <a href="@Url.Action("Details", "Feed", new { id = idString })">View Full Conversation</a>
                            }
                            else
                            {
                                <a id="expand-comments-@lastLogId" class="anchor-pointer" onclick="expandComments('@lastLogId')">
                                    <span id="expand-comments-text-@lastLogId">View</span> Conversation(<span data-bind="text: NumberOfComments" id="number-of-comments-for-@item.Items[0].Event.EventLogId">@item.Comments.Count</span>)
                                </a>
                            }

                        </li>
                        <li><a href="@Url.Action("Details", "Feed", new { id = idString })">Details</a></li>
                    }

                    @* Prevent replying to replies *@
                    @if (!isComment) { 
                    <li><a id="btn-reply-@lastLogId" onclick="ShowReplyBox(@lastLogId)" >Reply</a></li>
                    }

                </ul>
            </div>
            }
        </div>
</article>
}