@using OSBLE.Models
<div id="activity_new_post">
    @if (ViewBag.ActiveCourse.CourseRole.CanGrade == true)
    {
        if (ViewBag.Error != null)
        {
        <h3 class="error">@ViewBag.Error</h3>
        }
        using (Html.BeginForm())
        {
        <textarea name="post_content" rows="5" cols="40" placeholder="Enter new feed post here..."></textarea><br />
        <input type="hidden" name="post_message" value="1" />
        <input type="submit" name="post_active" value="Post to @ViewBag.ActiveCourse.Course.Prefix @ViewBag.ActiveCourse.Course.Number" /> <input
            type="submit" name="post_all" value="Post to All Courses" onclick="return confirm('Post this message to all your courses?');" />
        }
    }
</div>
<div class="dashboard_mode">
    @using (Html.BeginForm("SetDashboardMode", "Home", FormMethod.Post, new { id = "set_dashboard" }))
    {
        <input type="radio" name="mode" value="false" @if (!ViewBag.DashboardSingleCourseMode)
                                                      {<text>checked</text>}/><text>Show
        all courses</text>
        <input type="radio" name="mode" value="true" @if (ViewBag.DashboardSingleCourseMode)
                                                     {<text>checked</text>}/><text>Show
        only <em>@ViewBag.ActiveCourse.Course.Prefix @ViewBag.ActiveCourse.Course.Number</em></text>
    }
</div>
<script type="text/javascript">
    $("input[name='mode']").change(function () {
        $('#set_dashboard').submit();
    });
</script>
<div id="dp_posts">
    @foreach (DashboardPost dp in ViewBag.DashboardPosts)
    {
        <div class="dp_post">
            @{
        bool canDelete = false;
        bool show = true; // Should this post be anonymous?
        List<CoursesUsers> cus = ViewBag.CurrentCourses;
        CoursesUsers cu = cus.Where(c => c.CourseID == dp.CourseID && c.UserProfileID == ViewBag.CurrentUser.ID).FirstOrDefault();

        if (cu != null && cu.CourseRole.CanGrade)
        {
            canDelete = true;
        }

        if (cu == null || cu.CourseRole.Anonymized == true)
        {
            show = false;
        }
            }
            <div class="dp_post_header">
                @if (show || (dp.UserProfileID == ViewBag.CurrentUser.ID))
                {
                    @Helpers.ProfilePicture(Url.Action("ProfilePictureForDashboard", new { course = dp.CourseID, userprofile = dp.UserProfileID }));
                }
                else
                {
                    @Helpers.DefaultProfilePicture();
                }
                @if (!ViewBag.DashboardSingleCourseMode)
                {
                    <span class="dp_course">@dp.Course.Prefix @dp.Course.Number</span>
                }
                @Helpers.DisplayNameForDashboard(dp.UserProfile, ViewBag.ActiveCourse, show)
                @if (canDelete || (dp.UserProfileID == ViewBag.CurrentUser.ID))
                {
                    <span class="dp_delete"><a href="@Url.Action("DeletePost", new { ID = dp.ID })" onclick="return confirm('Delete this post and all its replies?');">@Helpers.DeleteButton()</a></span>
                }
                <br />
                <span class="dp_posted">@Helpers.DisplayDate(dp.Posted)</span>
            </div>
            <div class="dp_content">
                @Helpers.Linkify(dp.Content)
            </div>
            <div class="dp_replies">
                @foreach (DashboardReply dr in dp.Replies)
                {
                    <div class="dp_post">
                        <div class="dp_post_header">
                            @if (show || (dr.UserProfileID == ViewBag.CurrentUser.ID))
                            {
                                @Helpers.ProfilePicture(Url.Action("ProfilePictureForDashboard", new { course = dp.CourseID, userprofile = dr.UserProfileID }));
                            }
                            else
                            {
                                @Helpers.DefaultProfilePicture();
                            }
                            @Helpers.DisplayNameForDashboard(dr.UserProfile, ViewBag.ActiveCourse, show)
                            @if (canDelete || (dr.UserProfileID == ViewBag.CurrentUser.ID))
                            {
                                <span class="dp_delete"><a href="@Url.Action("DeleteReply", new { ID = dr.ID })" onclick="return confirm('Delete this reply post?');">@Helpers.DeleteButton()</a></span>
                            }
                            <br />
                            <span class="dp_posted">@Helpers.DisplayDate(dr.Posted)</span>
                        </div>
                        <div class="dp_content">
                            @Helpers.nl2br(dr.Content)
                        </div>
                    </div>
                }
                <div class="dp_replylink">
                    <a href="#" id="reply_@(dp.ID)">Reply</a>
                </div>
                <div class="dp_replybox" id="replybox_@(dp.ID)">
                    @using (Html.BeginForm())
                    {
                        <textarea name="post_content" rows="5" cols="40" placeholder="Enter reply here..."></textarea><br />
                        <input type="hidden" name="post_message" value="1" />
                        <input type="hidden" name="reply_to" value="@(dp.ID)" />
                        <input type="submit" name="post_reply" value="Post Reply" />
                    }
                    <br />
                    <div class="dp_replylink">
                        <a href="#" id="replycancel_@(dp.ID)">Cancel</a>
                    </div>
                </div>
                <script type="text/javascript">
                    $("#reply_@(dp.ID)").click(function () {
                        $("#reply_@(dp.ID)").hide();
                        $("#replybox_@(dp.ID)").show('blind');
                        return false;
                    });

                    $("#replycancel_@(dp.ID)").click(function () {
                        $("#reply_@(dp.ID)").show('highlight');
                        $("#replybox_@(dp.ID)").hide('blind');
                        return false;
                    });

                </script>
            </div>
        </div>
    }
</div>