@using OSBLE.Models;
@{
    DashboardPost dp = ViewBag.dp;
}

        <div class="dp_post" id="dp_post_@(dp.ID)">
            @{
        bool canDelete = false;
        bool show = true; // Should this post be anonymous?
        List<CoursesUsers> cus = ViewBag.CurrentCourses;
        CoursesUsers cu = cus.Where(c => c.CourseID == dp.CourseID && c.UserProfileID == ViewBag.CurrentUser.ID).FirstOrDefault();

        if (cu != null && cu.CourseRole.CanGrade)
        {
            canDelete = true;
        }

        if (cu == null || cu.CourseRole.Anonymized == true)
        {
            show = false;
        }
            }
            <div class="dp_post_header">
                @if (show || (dp.UserProfileID == ViewBag.CurrentUser.ID))
                {
                    @Helpers.ProfilePicture(Url.Action("ProfilePictureForDashboard", new { course = dp.CourseID, userprofile = dp.UserProfileID }));
                }
                else
                {
                    @Helpers.DefaultProfilePicture();
                }
                @if (!ViewBag.DashboardSingleCourseMode)
                {
                    <span class="dp_course">@Helpers.CourseTag(ViewBag.ActiveCourse.Course)</span>
                }
                @Helpers.DisplayNameForDashboard(dp.UserProfile, dp.Course, ViewBag.ActiveCourse, ViewBag.AllCoursesUsers, show)
                <span class="dp_tools">
                @if (show && (dp.UserProfileID != ViewBag.CurrentUser.ID))
                {
                    <a href="@Url.Action("Create", "Mail", new { recipientID = dp.UserProfileID })">@Helpers.MailButton()</a>
                }
                @if (canDelete || (dp.UserProfileID == ViewBag.CurrentUser.ID))
                {
                    <form action="/Home/DeletePost"
                        style="display: inline;"
                        data-ajax="true"
                        data-ajax-success="$('#dp_post_@(dp.ID)').hide('blind',{},'slow',function(){$(this).remove();})"
                        data-ajax-confirm="Are you sure you want to delete this post and all its replies?"
                        method="post">
                        <input type="hidden" name="ID" value="@dp.ID" />
                        @Helpers.DeleteSubmit()
                    </form>
                }
                </span>
                <br />
                <span class="dp_posted">@Helpers.DisplayDate(dp.Posted)</span>
            </div>
            <div class="dp_content">
                @Helpers.Linkify(dp.Content)
            </div>
            <div class="dp_replies">
                <div id="dp_replies_for_@(dp.ID)">
                @foreach (DashboardReply dr in dp.Replies)
                {
                    ViewBag.dr = dr;
                    ViewBag.dp = dp;
                    ViewBag.canDelete = canDelete;
                    ViewBag.show = show;                                
                    @Html.Partial("_DashboardReply");
                }
                </div>
                <div class="dp_replylink">
                    <a href="#" id="reply_@(dp.ID)">Reply</a>
                </div>
                <div class="dp_replybox" id="replybox_@(dp.ID)">
                    <form action="/Home/NewReply"
                        data-ajax="true"
                        data-ajax-update="#dp_replies_for_@(dp.ID)"
                        data-ajax-success="$('.dp_new_post').show('blind',{},'slow',function(){$(this).removeClass('dp_new_post');}); $('#dp_replybox_content_@(dp.ID)').val('')"
                        data-ajax-mode="after"
                        method="post">
                        <input type="hidden" name="reply_to" value="@dp.ID" />
                        <input type="hidden" name="latest_reply" value="0" id="latest_reply_@(dp.ID)" />
                        <textarea name="Content" rows="5" cols="40" id="dp_replybox_content_@(dp.ID)" placeholder="Enter reply here..."></textarea><br />
                        <input type="submit" name="post_reply" value="Post Reply" />
                    </form>

                    <br />
                    <div class="dp_replylink">
                        <a href="#" id="replycancel_@(dp.ID)">Cancel</a>
                    </div>
                </div>
                <script type="text/javascript">
                    $("#reply_@(dp.ID)").click(function () {
                        $("#reply_@(dp.ID)").hide();
                        $("#replybox_@(dp.ID)").show('blind');
                        return false;
                    });

                    $("#replycancel_@(dp.ID)").click(function () {
                        $("#reply_@(dp.ID)").show('highlight');
                        $("#replybox_@(dp.ID)").hide('blind');
                        return false;
                    });

                </script>
                <div id="after_replies_@(dp.ID)"></div>
            </div>
        </div>
