@using OSBLE.Models;
@{
    DashboardReply dr = ViewBag.dr;
    DashboardPost dp = ViewBag.dp;
    bool canDelete = ViewBag.canDelete;
    bool show = ViewBag.show;
}
<div class="dp_post" id="dr_reply_@(dr.ID)">
                        <div class="dp_post_header">
                            @if (show || (dr.UserProfileID == ViewBag.CurrentUser.ID))
                            {
                                @Helpers.ProfilePicture(Url.Action("ProfilePictureForDashboard", new { course = dp.CourseID, userprofile = dr.UserProfileID }));
                            }
                            else
                            {
                                @Helpers.DefaultProfilePicture();
                            }
                            @Helpers.DisplayNameForDashboard(dr.UserProfile, dp.Course, ViewBag.ActiveCourse, ViewBag.AllCoursesUsers, show)
                            <span class="dp_tools">
                            @if (show && (dr.UserProfileID != ViewBag.CurrentUser.ID))
                            {
                                <a href="@Url.Action("Create", "Mail", new { recipientID = dr.UserProfileID })">@Helpers.MailButton()</a>
                            }
                            @if (canDelete || (dr.UserProfileID == ViewBag.CurrentUser.ID))
                            {
                                <form action="/Home/DeleteReply"
                                    style="display: inline;"
                                    data-ajax="true"
                                    data-ajax-success="$('#dr_reply_@(dr.ID)').hide('highlight')"
                                    data-ajax-confirm="Sure you want to delete this reply?"
                                    method="post">
                                    <input type="hidden" name="ID" value="@dr.ID" />
                                    @Helpers.DeleteSubmit()
                                </form>
                            }
                            </span>
                            <br />
                            <span class="dp_posted">@Helpers.DisplayDate(dr.Posted)</span>
                        </div>
                        <div class="dp_content">@Helpers.Linkify(dr.Content)</div>
                    </div>