@using OSBLE.Models.HomePage

@{
    ViewBag.Title = "Dashboard";
}

<div id="dashboard_left">
<h3>Notifications</h3>

<div id="notifications">
@if (ViewBag.Notifications.Count == 0)
{
    <p>No Unread Notifications!</p>
}

@{ViewBag.ShowNotificationDelete = true;}
@Html.Partial("_Notifications")

<p>@Html.ActionLink("Show All Notifications", "Index", "Notification")</p>
</div>

<h3>Events &amp; Deadlines 
@if (@ViewBag.ActiveCourse.CourseRole.CanModify || @ViewBag.ActiveCourse.Course.AllowEventPosting)
{
<a href="@Url.Action("Create","Event")" title="Add New Event">@Helpers.AddButton()</a>
}
</h3>

<div id="important_dates">
<p>Next @ViewBag.ActiveCourse.Course.CalendarWindowOfTime Weeks</p>
@Html.Partial("_Events",(List<Event>)ViewBag.Events)
<p>@Html.ActionLink("Show All Events", "Index", "Event")</p>
</div>

</div>

<div id="dashboard_middle">
<h3>Activity Feed</h3>

<div id="activity_feed">
@Html.Partial("_ActivityFeed")
</div>

</div>

<div id="dashboard_right">
<h3>Course Links</h3>

<div id="course_links">
@Html.Partial("_CourseLinks")
</div>

</div>

<p>
</p>