@{
    ViewBag.Title = "Dashboard";
}

<div id="dashboard_left">
<h4>Notifications</h4>

<div id="notifications">
@if (ViewBag.Notifications.Count == 0)
{
    <p>No Unread Notifications!</p>
}

@{ViewBag.ShowNotificationDelete = true;}
@Html.Partial("_Notifications")

<p>@Html.ActionLink("Show All Notifications", "Index", "Notification")</p>
</div>

<h4>Events &amp; Deadlines</h4>

<div id="important_dates">
@Html.Partial("_ImportantDates")
</div>

</div>

<div id="dashboard_middle">
<h4>Activity Feed</h4>

<div id="activity_feed">
@Html.Partial("_ActivityFeed")
</div>

</div>

<div id="dashboard_right">
<h4>Course Links</h4>

<div id="course_links">
@Html.Partial("_CourseLinks")
</div>

</div>

<p>
</p>