@using OSBLE.Models.Courses;
@using OSBLE.Models.Assignments;
@using System.Collections.Generic;
@using OSBLE.Models;
@model Assignment          
@{
    List<CourseUsers> unassignedUsers = ViewBag.UnassignedUsers;
    List<AssignmentTeam> teams = ViewBag.Teams;
    
    ViewBag.Title = "Assignment Creation Wizard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_WizardTopNav")
<style type="text/css">
    #AvailableStudentList
    {
        float:left;
        width:200px;
        padding-top:15px;
        padding-right:15px;
        border-right:1px solid #CFCFCF;
    }
    
    .NoDecoration
    {
        text-decoration: none;
    }
    
    #CreateTeamLink
    {
        cursor:pointer;
    }
    
    .RemoveTeamIcon
    {
        cursor:pointer;
    }
    
    #TeamCreationOptions
    {
        margin-top:25px;
    }
    
    .TeamDiv
    {
        float:left;
        margin:8px;
        padding:8px;
        width:200px;
        border:1px solid #EEF;
        border-bottom:3px solid #EEF;

    }
    
    #TeamsDiv
    {
        float:left;
        width:800px;
        padding-top:15px;
        padding-left:15px;
    }
    
    .TeamSortable
    {
        min-height:25px;
        cursor:pointer;
    }
    
    .TeamNameTextBox
    {
        border:none;
        width:175px;
        font-weight:bold;
    }
    
    .ui-state-default
    {
        padding:3px;
        margin-top:2px;
        margin-bottom:2px;
    }
    
    #WizardContent ul
    {
        list-style:none;
        margin:0;
        padding:0;
    }
    
</style>
<h1>
    Team Settings</h1>
<p>
    @Html.Raw(ToolTips.BasicAssignmentIsTeam)
</p>
@using (@Html.BeginForm())
{
    @Html.ValidationSummary()     
    <div>
    <h3>Auto Generation Options</h3>
    <ul>
        <li>
            Create a layout with <input type="text" id="AutoGenByStudentTextBox" size="3" /> students per team
            <button type="button" id="AutoGenByStudentButton">Go</button>
        </li>
        <li>
            Create a layout with <input type="text" id="AutoGenByteamTextBox" size="3" /> total teams
            <button type="button" id="AutoGenByTeamButton">Go</button>
        </li>
        <li>
            Use a layout from the previous assignment: 
            <select id="AutoGenFromPastSelect">
            </select>
            <button type="button" id="AutoGenFromPastButton">Go</button>
        </li>
    </ul>
    </div>
    <div id="TeamCreationOptions">
        <a id="CreateTeamLink" class="NoDecoration">
            <img src="@Url.Content("~/Content/images/add_up.png")" alt="Create New Team" title="Create New Team" />
            Create New Team </a>
    </div>
    
    <div id="AvailableStudentList">
        <h3>
            Unassigned Students</h3>
        <ul id="AvailableStudent" class="TeamSortable">
            @foreach (CourseUsers cu in unassignedUsers)
            {
                <li id="cu_@(cu.ID)" class="ui-state-default">@cu.UserProfile.LastName, @cu.UserProfile.FirstName</li>
            }
        </ul>
    </div>
    
    <div id="TeamsDiv">
        <h3>Teams</h3>
    </div>
    
    
    @Html.Partial("_WizardBottomNav");
}
<script type="text/javascript">
    $(document).ready(documentReady);

    function documentReady() {

        //set up sortable lists
        $("#AvailableStudent").sortable({ connectWith: ".TeamSortable" }).disableSelection();

        //various event listeners
        $("form").submit(processForm);
        $("#CreateTeamLink").click(createTeam);
        $("#CreateTeamLink").disableSelection();
    }

    function processForm(evt) {
        alert('hello');
    }

    var teamCounter = 1;
    function createTeam(evt, teamName) {
        var divId = "teamDiv_" + teamCounter;
        var listId = 'team_' + teamCounter;
        var InputContent = "Team " + teamCounter;
        if (teamName != undefined) {
            InputContent = teamName;
        }
        var newContent = '<div style="display:none;" id="' + divId + '" class="TeamDiv">' +
                            '<input type="text" class="TeamNameTextBox" value="' + InputContent + '" />' +
                            '<img class="RemoveTeamIcon" src="@Url.Content("~/Content/images/delete_up.png")" alt="remove team" title="remove team" onclick="removeTeam(\'' + divId + '\')" />' + 
                            '<ul id="' + listId + '" class="TeamSortable"></ul>' +
                         '</div>';
        if (teamCounter % 3 == 0) {
            newContent += '<div style="clear:both;"></div>';
        }
        $("#TeamsDiv").append(newContent);
        $("#" + listId).sortable({ connectWith: ".TeamSortable" }).disableSelection();
        $("#" + divId).fadeIn('slow');
        teamCounter++;
        return divId;
    }

    function addStudentToTeam(studentId, teamDivId) {
        $("#" + teamDivId).find("ul").append($("#" + studentId));
    }

    function removeTeam(teamId) {
        $('#' + teamId).slideUp('slow', hideTeamComplete);
    }

    function hideTeamComplete() {
        //jQuery(this).find("li").css("display", "none");
        $("#AvailableStudent").append(jQuery(this).find("li"));
        //jQuery(this).find("li").fadeIn('slow');
        $(this).remove();
    }

</script>
