@{
    ViewBag.Title = "Uploading Files to a Course";
}
<h1>Uploading Files to a Course</h1>
<p>
    Often, it is helpful to include course documents such as schedules and syllabi.  Each course on OSBLE contains a &quot;Files & Links&quot; 
    section that serves this purpose.  To upload files to this area, click the &quot;Edit…&quot; button near the top-right of the page.
</p>
<img src="@Url.Content("~/Content/images/help/uploadfiles_1.png")" alt="click the edit button" />
<p>
    If this is the first time that you have clicked the button, you will be 
    prompted to install the OSBLE File Uploader tool onto your computer.  
    Otherwise, you can launch the file uploader from your system's desktop.
</p>
<img src="@Url.Content("~/Content/images/help/uploadfiles_2.png")" alt="install the file uploader" />
<p>
    Upon launching the file uploader tool, enter your OSBLE credentials and click the &quot;Login&quot; button.  
</p>
<img src="@Url.Content("~/Content/images/help/uploadfiles_3.png")" alt="enter user name and password" />
<p>
    Once logged in, you will be presented with the main uploader interface.  
    The left-hand pane contains files that exist on your local machine while 
    the right-hand pane contains files that exist on the server.  To upload a file, 
    simply right click on the desired file and select &quot;Send Selection.&quot;  For bulk 
    file transfer, you can click the &quot;Update Directory&quot; button near the bottom of the 
    uploader window.  This will send the entire contents of the current directory, 
    as well as the contents of any subfolders.  
</p>
<img src="@Url.Content("~/Content/images/help/uploadfiles_4.png")" alt="send files" />
<p>
    After completing a file transfer, the newly uploaded files will appear under the &quot;Files & Links&quot; section.
</p>
<img src="@Url.Content("~/Content/images/help/uploadfiles_6.png")" alt="a new file under files and links" />