@{
    ViewBag.Title = "Help";
}
<h1>Help</h1>
OSBLE contains the following help articles:
<ul>
    <li>@Html.ActionLink("Creating a new course", "CreateCourse")</li>
    <li>@Html.ActionLink("Adding students to a course", "AddingStudents")</li>
    <li>@Html.ActionLink("Adding TAs or moderators to a course", "AddingOthers")</li>
    <li>@Html.ActionLink("Creating basic assignments", "CreateBasicAssignment")</li>
    <li>@Html.ActionLink("Creating a review assignment", "CreateReviewAssignment")</li>
    <li>@Html.ActionLink("Creating review discussion assignments", "CreateReviewDiscussion")</li>
    <li>@Html.ActionLink("Adding web links to an assignment's description", "AddWebLinks")</li>
    <li>@Html.ActionLink("Using the gradebook", "Gradebook")</li>
</ul>