@using OSBLE.Models.Assignments
@using OSBLE.Areas.AssignmentDetails.ViewModels
@using OSBLE.Models.Courses;
@using OSBLE.Resources
@model AssignmentDetailsViewModel
@{
    ViewBag.Title = "Assignment Details";
    DynamicDictionary headerData = Model.HeaderBuilder.BuildHeader(Model.CurrentAssignment);
    
}
@section AssignmentDetails
{
    @foreach (string view in Model.HeaderViews)
    {
        string viewLocation = string.Format("HeaderBuilder/{0}", view);
        @Html.Partial(viewLocation, headerData);
    }
}
@section TableData
{
    @if (Model.Client.AbstractRole.CanGrade)
    {
        bool altRow = false;

        var teams = from pair in Model.TeamTableBuilders
                    orderby pair.Key.Team.Name ascending
                    select pair.Key;
        
        foreach (IAssignmentTeam assignmentTeam in teams)
        {
            if (assignmentTeam.Team.TeamMembers.Count() > 1)
            {
                <tr class="TeamHeader">
                    <th colspan="6">
                        @assignmentTeam.Team.Name
                        @{string actionLink = Url.Action("CreateTeam", "Mail", new { area = "", teamID = assignmentTeam.Team.ID });
                        }
                        <a title="Email this user" href="@actionLink" > @Helpers.MailButton() </a>
                    </th>
                </tr>
        
            }
                <tr>
                    <th class="StudentName">
                        <lu>
                            @foreach (TeamMember tm in assignmentTeam.Team.TeamMembers.OrderBy(t => t.CourseUser.DisplayName()).ToList())
                            {
                                <li id="ReviewsItems">
                                    @{string actionLink = Url.Action("CreateUser", "Mail", new { area = "", courseUserId = tm.CourseUser.ID });
                                      }
                                    <a href="@actionLink" title="Email this user">@Helpers.MailButton()</a>
                        
                                    @tm.CourseUser.DisplayNameFirstLast(tm.CourseUser.AbstractRole)
                                </li>
                            }
                        </lu>
                    </th>
                    @foreach (string view in Model.TableColumnHeaders.Keys)
                    {
                        DynamicDictionary tableData = Model.TeamTableBuilders[assignmentTeam].BuildTableForTeam(assignmentTeam);
                        string viewLocation = string.Format("TableBuilder/{0}", view);
                        @Html.Partial(viewLocation, tableData);
                    }
                </tr>
        }
    }
}
} 