<!DOCTYPE html>

<html>
<head>

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/bootstrap-3.3.5/css/bootstrap.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Site.css")" />

    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-2.0.1.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.cookie.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.easing.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/json2.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/bootstrap-3.3.5/js/bootstrap.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/getUtcOffset.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/time.js")"></script>

    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>

    @* Forward/Back buttons if desired *@
    @if (!string.IsNullOrEmpty(ViewBag.ForwardURL)) {
        <a href="@ViewBag.ForwardURL" id="osbide_forward" class="osbide_nav_btn"><span class="glyphicon glyphicon-arrow-right"></span></a>
    }
    @if (!string.IsNullOrEmpty(ViewBag.BackURL)) {
        <a href="@ViewBag.BackURL" id="osbide_forward" class="osbide_nav_btn"><span class="glyphicon glyphicon-arrow-left"></span></a>
    }

    <h1 id="osbide_header">OSBIDE - @ViewBag.Title</h1>
    <div class="container-fluid" id="main_container">
        @RenderBody()
    </div>
</body>
</html>
