@{
    ViewBag.Title = "Creating a Review Discussion Assignment";
}
<h1>Creating a Review Discussion Assignment</h1>
<p>
    This tutorial demonstrates how to create critical review discussion assignments in OSBLE.  
Note that this tutorial assumes that you have already completed the steps outlined in both 
the &quot;@Html.ActionLink("Creating a Basic Assignment", "CreateBasicAssignment")&quot; 
    and &quot;@Html.ActionLink("Creating a Critical Review Assignment", "CreateReviewAssignment")&quot; tutorials.  
To begin, click on the &quot;Create New Assignment&quot; link on the &quot;Assignments&quot; tab.
</p>
<img src="@Url.Content("~/Content/images/help/basic_1.png")" alt="click the create new assignment link" />
<p>
    At the assignment type selection page, we will select the &quot;Critical Review Discussion&quot; radio button and click the &quot;Begin&quot; button.
</p>
<img src="@Url.Content("~/Content/images/help/discussion_1.png")" alt="select critical review discussion" />
<p>
    Critical review discussion assignments only contain one optional component, which we will ignore for this tutorial.  
    Click the &quot;Continue&quot; button to move to the next page.
</p>
<img src="@Url.Content("~/Content/images/help/discussion_2.png")" alt="do not select any components" />
<p>
    As with all other assignment types, critical review discussions begin with the basic settings page: 
</p>
<img src="@Url.Content("~/Content/images/help/discussion_3.png")" alt="fill out basic settings" />
<p>
    Clicking &quot;Next&quot; brings us to the &quot;Link Previous Assignment&quot; step.  To function, 
    critical review discussion assignments must follow a critical review.  As such, we will select 
    &quot;Sample Review&quot; from the dropdown list and click the &quot;Next&quot; button.
</p>
<img src="@Url.Content("~/Content/images/help/discussion_4.png")" alt="select the critical review assignment" />
<p>
    Presented next is the list of review discussion teams.  Note that unlike critical review teams, these teams are non-editable.  
    Discussion teams always consist of all reviewers as well as the original submission's author.  
</p>
<img src="@Url.Content("~/Content/images/help/discussion_5.png")" alt="discussion teams" />
<p>
    Clicking the &quot;Next&quot; button brings us to the &quot;Discussion Settings&quot; tab.  
    On this page, instructors can specify minimum and maximum post lengths, as 
    well as a variety of anonymity settings.  In this example, we set no length limits on 
    posts (a value 0 means no limit) and specify no anonymity settings.  
</p>
<img src="@Url.Content("~/Content/images/help/discussion_6.png")" alt="discussion settings" />
<p>
    When satisfied, click the &quot;Next&quot; button, which brings us to the final screen of the 
    assignment creation wizard.  From here, we can go back and edit the assignment's 
    details, publish the assignment, or return to the main assignment page.
</p>