@using OSBLE.Models.HomePage
@using OSBLE.Models
@using System.Web.Configuration

@{
    ViewBag.Title = "Dashboard";
    bool courseCalendarFlag = false;
    string activeCourseRole = ViewBag.ActiveCourse.AbstractRole.Name;
    int courseID = ViewBag.ActiveCourse.AbstractCourse.ID;
    switch (activeCourseRole)
    {
        case "Instructor":
            courseCalendarFlag = true;
            break;
        case "Leader":
            break;
        case "Assessment Committee Chair":
            break;
        case "Student":
            courseCalendarFlag = true;
            break;
        default:
            break;
    }

}

@* Dashboard Pills (used when width < 850px) *@
<script type="text/javascript">
    function setContent(btnID, divID) {
        $(".activeContent").removeClass("activeContent").addClass("unactiveContent");
        $("#" + divID).addClass("activeContent").removeClass("unactiveContent");

        $(".btn-primary").removeClass("btn-primary");
        $("#" + btnID).addClass("btn-primary");
    }

    $(document).ready(function () {
        $("#btn_activity_feed").click(function () { setContent("btn_activity_feed", "dashboard_middle"); });
        $("#btn_notifications").click(function () { setContent("btn_notifications", "dashboard_left"); });
        $("#btn_files").click(function () { setContent("btn_files", "dashboard_right"); });
    });
</script>

<div class="btn-group btn-group-justified" id="dashboard_pills">
    <div class="btn-group">  <button type="button" id="btn_notifications" class="btn">Notifications <span id="notifications_badge" class="badge">@ViewBag.Notifications.Count</span></button>               </div>
    <div class="btn-group">  <button type="button" id="btn_activity_feed" class="btn btn-primary">Activity Feed</button>   </div>
    <div class="btn-group">  <button type="button" id="btn_files" class="btn">Files &amp; Links</button>                      </div>
</div>

<div id="dashboard_outer">
    <div class="row" id="dashboard_inner">

        <!---------------- NOTIFICATIONS --------------------->
        <div class="col-sm-4 col-md-3 unactiveContent" id="dashboard_left">
            <h3>Notifications</h3>

            <div id="notifications">
                @if (ViewBag.Notifications.Count == 0)
                {
                    <p>No Unread Notifications!</p>
                }

                @{ViewBag.ShowNotificationDelete = true;}
                @Html.Partial("_ConsolidatedNotifications")

                @if (ViewBag.Notifications.Count != 0)
                {
                    <div id="markAllAsReadDiv">
                        <form id="MarkAllForm" action="@Url.Action("MarkAllAsRead", "Notification")"
                              data-ajax="true"
                              data-ajax-success="$('#notifications_list').hide('slow');$('#markAllAsReadDiv').hide('slow');$('#notifications_badge').hide('slow');"
                              method="post">
                            <a href="#" onclick="$('#MarkAllForm').submit()">Mark All Notifications As Read</a>
                        </form>
                    </div>
                }

                <p>@Html.ActionLink("Show All Notifications", "Index", "Notification")</p>
            </div>

            <h3>
                Events &amp; Deadlines
                @if (@ViewBag.ActiveCourse.AbstractRole.CanModify || @ViewBag.ActiveCourse.AbstractCourse.AllowEventPosting)
                {
                    <a href="@Url.Action("Create", "Event")" title="Add New Event or Deadline">@Helpers.AddButton()</a>
                }
                @if (courseCalendarFlag)
                {
                    <a href="@Url.Action("DownloadCourseCalendar", "iCalendar", new { id = courseID })" title="Download Course Calendar">@Helpers.UnPublishButton()</a>
                    <a href="@Url.Action("SubscribeToCalendar", "iCalendar", new { id = courseID, })" target="_blank" title="Subscribe to Course Calendar">@Helpers.CalendarButton()</a>

                }

            </h3>


            <div id="important_dates">
                <p>Next @ViewBag.ActiveCourse.AbstractCourse.CalendarWindowOfTime Weeks</p>
                <div class="partialContents" data-url="/Home/Events">
                    <img src="~/Content/images/ajax-loader.gif" /> Loading...
                </div>
                @*@Html.Partial("_Events", (List<Event>)ViewBag.Events)*@
                <p>@Html.ActionLink("Show All Events", "Index", "Event")</p>
            </div>

        </div>

        <!--------------------- ACTIVITY FEED --------------------->
        <div class="col-sm-5 col-md-6 activeContent" id="dashboard_middle">
            <h3>
                Activity Feed
                <a href="@Url.Action("DownloadDashboardPosts", "Course")" title="Download Activity Feed as csv">@Helpers.UnPublishButton()</a>
            </h3>

            <div id="activity_feed">
                <div class="partialContents" data-url="/Home/ActivityFeed">
                    <img src="~/Content/images/ajax-loader.gif" /> Loading...
                </div>
            </div>

        </div>

        <!---------------- FILES AND LINKS --------------------->
        <div class="col-sm-3 unactiveContent" id="dashboard_right">

            <!-- File manager for course files -->
            <div id="divFileManager" style="float:right;">

                (Please wait, loading files...)
            </div>

            <!--yc: file upload size change!-->
            <!-- Scripts for file manager -->
            <!--yc: currently cant find a way to put this line of code into the script so its placed here for now-->

            @* These Files are now included in the layout *@
            @*<script src="../../Scripts/CourseFilesUploader.js?version=1.1" type="text/javascript"></script>
               <script src="../../Scripts/CourseFileManager.js?version=1.1" type="text/javascript"></script>
            *@
            <script type="text/javascript">
                // Write the HTML for the file manager control
                if (XMLHttpRequest) {
                    cfm_getListing("divFileManager");
                }
                else {
                    document.write("File upload not supported. Please upgrade your web browser.");
                }
            </script>
        </div>
    </div>
</div>

<script type="text/javascript">

    // Disable caching of AJAX responses.
    // This prevents a bug in IE where content will
    // not reload when the course was changed.
    $.ajaxSetup({
        cache: false
    });

    // This uses the JQuery-AJAX method .load to populate each partial content container
    function LoadPartialContents() {
        $(".partialContents").each(function (index, item) {
            var startPost = $(location).attr('search'); // used for pagination
            var url = $(item).data("url");

            if (startPost && url == "/Home/ActivityFeed") {
                url = url + "/" + startPost;
            }

            if (url && url.length > 0) {
                $(item).load(url);
            }
        });
    }

    $(document).ready(function (e) {

        var hideHint = $.cookie('hide_hint');
        if (hideHint == "true") {
            $("#search_hint").hide();
        }

        $("#hide_search").click(function () {
            $("#search_hint").hide();
            $.cookie('hide_hint', 'true');
        });

        LoadPartialContents();
    });

</script>
