@using OSBLE.Models.Assignments;
@using OSBLE.Models.Assignments.Activities;
@using OSBLE.Models;
@{
    ViewBag.Title = "Assignment Creation Wizard";
    ViewBag.ComponentName = "Discussion Settings";
    //add:
            //anonymous posting (not including instructors)
            //view other posts prior to first post (default no)
            //Due date for initial post
            //minimum post length for initial post
}
@model DiscussionSetting
@section Header
{

}
@Html.ValidationSummary() 
@Html.HiddenFor(m => m.AssignmentID)
<table class="wizard_entry_table">
    <tr>
        <th>@Html.LabelFor(m => m.HasAnonymousPosts)</th>
        <td>@Html.CheckBoxFor(m => m.HasAnonymousPosts)</td>
        <td></td>
    </tr>
    <tr>
        <th>@Html.LabelFor(m => m.HasAnonymousReplies)</th>
        <td>@Html.CheckBoxFor(m => m.HasAnonymousReplies)</td>
        <td></td>
    </tr>
    <tr>
        <th>@Html.LabelFor(m => m.HasAnonymousRoles)</th>
        <td>@Html.CheckBoxFor(m => m.HasAnonymousRoles)</td>
        <td></td>
    </tr>
    <tr>
        <th>@Html.LabelFor(m => m.InitialPostDueDate):</th>
        <td>@Html.EditorFor(m => m.InitialPostDueDate) at @Html.EditorFor(m => m.InitialPostDueDueTime)</td>
        <td>@Html.ValidationMessageFor(m => m.InitialPostDueDate)</td>
    </tr>
</table>