@using OSBLEPlus.Logic.DomainObjects.ActivityFeeds
@using OSBLE.Models.Courses
@using OSBLE.Utility
@model AggregateFeedItem
@{
    LogCommentEvent comment = Model.Items.First().Event as LogCommentEvent;
}

<div id="content-@comment.EventLogId">
    <div id="content-comment-@comment.EventLogId">@comment.Content</div>

    @if (ViewBag.CurrentUser.ID == comment.SenderId || ViewBag.ActiveCourseUser.AbstractRole.CanModify)
    {
        <div id="edit-form-items-@comment.EventLogId" style="display: none;">
            <textarea form="edit-form-@comment.EventLogId"
                      id="edit-form-textarea-@comment.EventLogId"
                      name="newText"
                      class="form-control feed-edit">@comment.Content</textarea>
            
                <button type="submit"
                        onclick="$(this).parents('form:first').submit();editText(@comment.EventLogId, true);"
                        form="edit-form-@comment.EventLogId"
                        id="edit-form-submit-@comment.EventLogId"
                        class="btn btn-default btn-sm"
                        value="Submit">
                    Submit
                </button>
                <button type="button"
                        onclick="editText(@comment.EventLogId, false);"
                        id="edit-form-cancel-@comment.EventLogId"
                        class="btn btn-default btn-sm">
                    Cancel
                </button>
            </div>
    }
</div>


@*@if (Model.Creator.ID == comment.SourceEvent.SenderId)
                {
                    @*switch(Model.Creator.Gender)
                    {
                        case OSBIDE.Library.Models.Gender.Female:
                            @:her own
                            break;

                        case OSBIDE.Library.Models.Gender.Male:
                            @:his own
                            break;

                        case OSBIDE.Library.Models.Gender.Unknown:
                            @:their own
                            break;
                    }*@@*
                }
                else
                {
                    //anonymize IDE events
                    @*if (ActivityFeedQuery.GetIdeEvents().Any(e => (int)e == comment.SourceEventLog.EventTypeId))
                    {
                        <text>a student's</text>
                    }
                    else
                    {
                        <text>@string.Format("{0}'s", comment.SourceEventLog.Sender.FirstName)</text>
                    }*@@*
                        }
                        @string.Format("{0}:", comment.SourceEvent.EventName)@*.LogType.ToDisplayText().ToLower())*@

                    
