@using OSBLE.Controllers;
@using OSBLE.Models.Assignments;
@using OSBLE.Models.Assignments.Activities;
@using OSBLE.Models.Assignments.Activities.Scores;
@{
    Layout = null;
    var index = 0;
}

<table id="grades" class="gradebook">

@{
        var numDropped = (from drop in ViewBag.Dropped as IEnumerable<int> select drop).FirstOrDefault();     
        
        <input type="hidden" id="numDropped" value="@numDropped" />
    }

    <tr class="colHeader">
            
        @{var j = 1;
            <td id="_row-@index" class="rowHeader" style="background:#DCDCDC; border:outset 2.5px; border-color: #E8E8E8; width: 25px;" onmouseover="showButton(this);" onmouseout="hideButton(this);" onclick="selectRow(this);"></td>
            index++;
            j += 1;
            <td id="@j" class="colHeader" style="background:#DCDCDC; border:outset 2.5px; border-color:#E8E8E8" onmouseover="showButton(this);" onmouseout="hideButton(this);" onclick="selectColumn(this);"></td>
            j += 1;
            <td id="@j" class="colHeader" style="background:#DCDCDC; border:outset 2.5px; border-color:#E8E8E8" onmouseover="showButton(this);" onmouseout="hideButton(this);" onclick="selectColumn(this);"></td>
            j += 1;
            foreach (AbstractAssignment item in ViewBag.Assignments)
            {
                <td id="@j" class="colHeader" style="background:#DCDCDC; border:outset 2px; border-color:#E8E8E8; text-align:center;" onmouseover="showButton(this);" onmouseout="hideButton(this);" onclick="selectColumn(this);">
                    
                <div id="div-@j" style="display: none; margin:0 auto;" onmouseover="showButton(this);" onmouseout="hideButton(this);" onclick="selectColumn(this);">
                    <img id="imgLeft-@item.ID" src="/Content/images/arrow_left.png" onclick="moveLeft(this);" style="cursor:pointer; float:left; padding-top:2px;"/>
                    <img id="imgDown-@item.ID" src="/Content/images/arrow_down.png" onclick="ShowHide(this);" style="cursor:pointer; padding-bottom:2px;"/>
                    <img id="imgRight-@item.ID" src="/Content/images/arrow_right.png" onclick="moveRight(this);" style="cursor:pointer; float:right;" />
                </div>
                </td>
                j += 1;
            }
        }
            
    </tr>

    <tr id="perfectScore">
        <td id="_row-@index" class="rowHeader" style="background:#DCDCDC; border:outset 2px; border-color:#E8E8E8" width: 25px;" onmouseover="showButton(this);" onmouseout="hideButton(this);" onclick="selectRow(this);"></td>
        @{index++;}
        <th id="th2">Perfect Score</th>
        <td id="perfectTotal">100%</td>
        @foreach (AbstractAssignment item in ViewBag.Assignments)
        {
            <td id="pointsPossible-@item.ID" onclick="cellGainsFocus(this)">@item.PointsPossible</td>
        }
        
    </tr>
    <tr id="averageRow">
    <td id="_row-@index" class="rowHeader" style="background:#DCDCDC; border:outset 2px; border-color:#E8E8E8" width: 25px;" onmouseover="showButton(this);" onmouseout="hideButton(this);" onclick="selectRow(this);"></td>
    @{index++;}
        <th id="th3">
            Average Score
        </th>
        <td id="averageTotal">
            0
        </td>
        @foreach (AbstractAssignment item in ViewBag.Assignments)
        {
            <td id="averageScore" >0</td>  
        }
    </tr>
    
    <tr>
    <td id="_row-@index" class="rowHeader" style="background:#DCDCDC; border:outset 2px; border-color:#E8E8E8" width: 25px;" onmouseover="showButton(this);" onmouseout="hideButton(this);" onclick="selectRow(this);"></td>
    @{index++;}
    @{
    
        <th id="th4" ondblclick="clearDropLowest()">
            Name
        </th>
        
            if( numDropped == 0)
            {
                <th id="totalCustomize">Total <input id="dropLowestButton" type="button" onclick="displayCustomizeGrades();" value="Average" /></th>
            }
            else
            {
                <th id="totalCustomize">Total <input id="dropLowestButton" type="button" onclick="displayCustomizeGrades();" value="Average [Dropped @numDropped]" /> </th>
            }
        
            int i = 2;
            foreach (AbstractAssignment assign in ViewBag.GradeAssignments)
            {
                if (assign.addedPoints > 0)
                {   
                    <th id="header-@assign.ID" onclick="changeHeaderName(this)">@assign.Name (Added @assign.addedPoints)</th>
                }
                else
                {
                    <th id="header-@assign.ID" onclick="changeHeaderName(this)">@assign.Name </th>
                }
                i += 1;
            }
        }
            
    </tr>
    <!--loop through all users -->
    @foreach (OSBLE.Models.Users.UserProfile user in ViewBag.Users)
    {        
        <tr id="studentGrades">
            <td id="_row-@index" class="rowHeader" style="background:#DCDCDC; border:outset 2px; border-color:#E8E8E8; width:25px;" onmouseover="showButton(this);" onmouseout="hideButton(this);" onclick="selectRow(this);"></td>
            @{index++;}
            <td id="@user.ID" >@user.LastName, @user.FirstName</td>
                    
            @{
              var percent = from p in ViewBag.Percents as IEnumerable<Score>
                            where p.UserProfileID == user.ID
                            select p;
              if (percent.Count() > 0)
              {
                    <td id="total">@percent.First().Points.ToString(".##")%</td>
              }
              else
              {
                    <td id="total">@String.Format("{0}", 0)</td>
              }
            }

                
            @foreach (AbstractAssignment gradeAssignment in ViewBag.GradeAssignments)
            {

                var gradableQuery = from g in ViewBag.Grades as IEnumerable<Score>
                                    where g.AssignmentActivity.AbstractAssignmentID == gradeAssignment.ID
                                    && g.UserProfileID == user.ID
                                    && g.Points >= 0
                                    select g;
                //use the stored score if possible.  Otherwise, just use a "0"
                if (gradableQuery.Count() > 0)
                {
                        <td id="@String.Format("{0}-{1}", user.ID, gradeAssignment.ID)" onclick="cellGainsFocus(this)">@gradableQuery.First().Points</td>
                }
                else
                {
                    //Razor didn't like me using just a "0" so I had to wrap it inside String.Format
                            <td id="@String.Format("{0}-{1}", user.ID, gradeAssignment.ID)" onclick="cellGainsFocus(this)">NG</td>
                }
            }
        </tr>
    }
    <script type="text/javascript">
        //var lastFocusedCell = null;
        var onMouseOver = false;
        $(function () {
            calculateCols();
            keyControls();
        });

        
    </script>

</table>

