@using OSBLE.Models.Courses
@using OSBLE.Utility
@{
    Layout = null;
}

<div id="tabHeader">
    <ul>
        <li id="selected" class="main"><a href="/Gradebook/Index">Main</a></li>
        @{
            double totalPoints = 0;
            foreach (Category item in ViewBag.Categories)
            {
                //calculating total points of all categories
                totalPoints += (item.Points);
            }
            foreach (Category item in ViewBag.Categories)
            {
                var displayWeight = (item.Points / totalPoints) * 100;
                if (item.Points == 0 && item.Name != Constants.UnGradableCatagory )
                {
                    <li class="@item.ID" style="background:@item.TabColor;"><a href="/Gradebook/Tab/?categoryId=@item.ID" style="text-decoration:none;">@item.Name (0%)</a></li>
                }
                else if (item.Name != Constants.UnGradableCatagory)
                {
                    <li class="@item.ID" style="background:@item.TabColor;"><a href="/Gradebook/Tab/?categoryId=@item.ID" style="text-decoration:none;">@item.Name (@displayWeight.ToString(".##")%)</a></li>
                }
                else
                {
                    //Do nothing because we don't want to show category Constants.UnGradableCategory
                }

            }
        }
        <li><a href="#" onclick="newTab()">+</a></li>
    </ul>
</div> 

<script type="text/javascript">

    $(document).ready(function () {

        var pathname = window.location.toString();
        var id = pathname.split("=");

        if (id[1] != null) {
            $("#selected").removeAttr("id");
            $("." + id[1]).attr("id", "selected");
            $("." + id[1]).css("background", "white");
        }
    });
    
</script>
