@{
    ViewBag.Title = "Gradebook";
    Layout = null;
}
<html>
<head>
    <script src="@Url.Content("~/Scripts/jquery-1.6.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
    <script type="text/javascript">
        var lastFocusedCell = null;
        var showDropDown = false;
        var changedShow = false;
        var currentCol = 0;

        $(document).click(function () {
            //clearLastCellFocus();
            if (changedShow == true) {
                if (showDropDown == false) {
                    hideDropDown();
                }
                changedShow = false;
            }
            else {
                hideDropDown();
                showDropDown = false;
            }
        });

        function clearLastCellFocus() {
            
            //if a prior cell has already received focus in the past, we need to turn it back into
            //a normal table cell
            if (lastFocusedCell != null) {
                var cellValue = lastFocusedCell.children().val();
                lastFocusedCell.html("");
                lastFocusedCell.text(cellValue);
                lastFocusedCell.attr("onclick", 'cellGainsFocus(this)');
                lastFocusedCell = null;
            }
        }

        function cellGainsFocus(someCell) {

            //do this once so we don't have to constantly do it later
            someCell = $(someCell);

            //clear any previous focus
            clearLastCellFocus();
            
            var textValue = someCell.text();
            var inputText = $('<input class="cellInput" type="text" value="' + textValue + '" />');
            someCell.removeAttr("onclick");
            someCell.html(inputText);
            inputText.focus();
            lastFocusedCell = someCell;
        }

        function cellInputBlur(someInput) {
            //if a prior cell has already received focus in the past, we need to turn it back into
            //a normal table cell
            if (lastFocusedCell != null) {
                var cellValue = lastFocusedCell.children().val();
                lastFocusedCell.html("");
                lastFocusedCell.text(cellValue);
            }
        }

        function calculateRows() {
            
            //clear any previous focus
            clearLastCellFocus();

            $("#grades tr").each(function () {
                var total = 0;
                $(this).find('td').each(function () {
                    total += parseInt($(this).text());
                });
                alert("Row Total: " + total);
            });
        }

        function calculateTotal() {
            
            //clear any previous focus
            clearLastCellFocus();

            var final = 0;
            $("#grades tr td").each(function () {
                    final += parseInt($(this).text());
            });
            alert("Total Table: " + final);
        }

        function calculateCols() {

            //clear any previous focus
            clearLastCellFocus();

            var col1 = 0;
            var col2 = 0;
            var col3 = 0;
            var col4 = 0;
            var col5 = 0;

            //reference the rows you want to add
            //this will not include the header row
            var rows = $("#grades tr");
            rows.children("td:nth-child(1)").each(function () {

                //each time we add the cell to the total
                col1 += parseInt($(this).html());
            });
            rows.children("td:nth-child(2)").each(function () {
                col2 += parseInt($(this).html());
            });
            rows.children("td:nth-child(3)").each(function () {
                col3 += parseInt($(this).html());
            });
            rows.children("td:nth-child(4)").each(function () {
                col4 += parseInt($(this).html());
            });
            rows.children("td:nth-child(5)").each(function () {
                col5 += parseInt($(this).html());
            });

            alert(col1);
            alert(col2);
            alert(col3);
            alert(col4);
            alert(col5);
        }

        function ShowHide(buttonClick) {
            var container = buttonClick.id;
            currentCol = container;
            var y = $("#" + container).position().left;
            y += 3;
            $("#slidingDiv").css("left", y + "px");
            $("#slidingDiv").animate({ "height": "show" }, { duration: 50 });
            if (showDropDown == true) {
                showDropDown = false;
                changedShow = true;
            }
            else {
                showDropDown = true;
                changedShow = true;
            }
            clickOffButton = false;
        }

        function hideDropDown() {
            $("#slidingDiv").animate({ "height": "hide" }, { duration: 50 });
        }

        function insertRight(button) {
            colIndex = parseInt(currentCol);
            colIndex += 1;

            //shifting table ID's to the right
            $("#grades tr td").each(function () {
                var cellId = $(this).attr("id").split("-");
                if (cellId[1] >= colIndex) {
                    cellId[1] = parseInt(cellId[1]);
                    cellId[1] += 1;
                }
                $(this).attr("id", "col-" + cellId[1]);
                //alert($(this).attr("id"));
                //alert(cellId[1]);
            });

            //Shifting table headers to the right and Renaming header names
            $("#grades tr th").each(function () {
                var cellId = $(this).attr("id").split("-");
                var cellText = $(this).text().split(" ");
                if (cellId[1] >= colIndex) {
                    cellId[1] = parseInt(cellId[1]);
                    cellId[1] += 1;
                    cellText[1] = parseInt(cellText[1]);
                    cellText[1] += 1;
                }
                $(this).attr("id", "th-" + cellId[1]);
                $(this).attr("value", "Column " + cellText[1]);
                //alert($(this).attr("id"));
                //alert(cellId[1]);
            });

            //Setting the new ID's for the new columns table
            $(document).ready(function () {
                $("#grades").find("tr").each(function () {
                    $(this).find("td").eq(currentCol).after('<td id="col-' + colIndex + '" onclick="cellGainsFocus(this)">0</td>');
                });
            });


            /*$("#grades tr td").each(function () {
                var cellId = $(this).attr("id")
                //alert(cellId);
            });*/           

            //Setting the new ID's for the new columns header
            $(document).ready(function () {
                $("#grades").find("tr").each(function () {
                    $(this).find("th").eq(currentCol).after('<th>Column ' + colIndex + '<div id="cntnr" align="right"><button class="dropdown" id=' + colIndex + 'onclick="ShowHide(this);"></button></div></th>');
                });
            });
        }

        function insertLeft(button) {
            $(document).ready(function () {
                $("#grades").find("tr").each(function () {
                    $(this).find("td").eq(currentCol).before("<td onclick='cellGainsFocus(this)'>0</td>");
                });
            });

            $(document).ready(function () {
                $("#grades").find("tr").each(function () {
                    $(this).find("th").eq(currentCol).before("<th>Column<div id='cntnr' align='right'><button class='dropdown' id='col' onblur='minMenu(this);' onclick='ShowHide(this);'></button></div></th>");
                });
            });
        }

        function clearCol(){
            var rows = $("#grades tr");
            currentCol = parseInt(currentCol);
            currentCol+=1;
            rows.children("td:nth-child(" + currentCol + ")").each(function () {
                //each time we add the cell to the total
                $(this).html(null);
            });
            currentCol -= 1;
        }

        function deleteCol() {
            currentCol = parseInt(currentCol);
            currentCol += 1;

            $("#grades").each(function () {
                $("tr td:nth-child(" + currentCol + ")").remove()
            });
            currentCol -= 1;
            $("#th-" + currentCol).remove();
            $("#" + currentCol).remove();

        }

    </script>   
    <style type="text/css">
        .cellInput
        {
            width:auto;
            border:none;
        }
        .gradebook
        {
            width:100%;
            border-collapse:collapse;
            border: 1px solid gray;
        }
        
        .gradebook td
        {
            padding:3px;
            width:auto;
            height:25px;
        }
        
        .gradebook td, .gradebook th, .gradebook tr
        {
            width:auto;
            border:1px solid gray;
        }
        
        .menu
    	{
			width:100px;
			border:1px solid gray;
		}
        
        .slidingDiv 
        {
			width:100px;
			height:100px;
			background-color:white;
			top: 53px;
			left:400px;
		}
		
		.dropdown
		{
		    
		}
        
    </style>
</head>
<body>
    <table id="grades" class="gradebook">
        <tr>    
        @for (int i = 0; i < 5; i++)
        {            
            <th id="th-@i">Column @i<div id="cntnr" align="right"><button class="dropdown" id="@i" onblur="minMenu(this);" onclick="ShowHide(this);"></button></div></th>
        }

        </tr>

        @for (int i = 0; i < 10; i++)
        {
            <tr id="row-@i">
                @for (int j = 0; j < 5; j++)
                {
                    <td id="col-@j" onclick="cellGainsFocus(this)">@(i * j)</td>
                }
            </tr>
        }
    </table>
    
    <div class="slidingDiv"; id="slidingDiv" style="display: none; position:absolute; ">
	    <table class="menu">
		    <tr><td><a href="#" onclick="insertLeft(this);">Insert 1 left</a></td></tr>
		    <tr><td><a href="#" onclick="insertRight(this);">Insert 1 right</a></td></tr>
		    <tr><td><a href="#" onclick="deleteCol();">Delete column</a></td></tr>
		    <tr><td><a href="#" onclick="clearCol();">Clear column</a></td></tr>
	    </table>
    </div>

    <input value="Calculate Rows" type="button" onclick="calculateRows()" />
    <input value="Calculate Columns" type="button" onclick="calculateCols()" />
    <input value="Calculate Total" type="button" onclick="calculateTotal()" />
</body>
</html>
