@model OSBLE.Models.Course

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Course</legend>

    <div class="display-label">Prefix</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Prefix)
    </div>

    <div class="display-label">Number</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Number)
    </div>

    <div class="display-label">Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">Semester</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Semester)
    </div>

    <div class="display-label">Year</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Year)
    </div>

</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
