@model IEnumerable<OSBLE.Models.Course>
@{
    ViewBag.Title = "Index";
}
<h2>
    Index</h2>
<p>
    @if (ViewBag.CurrentUser.CanCreateCourses)
    {
        @Html.ActionLink("Create New", "Create")
    }
</p>
<table>
    <tr>
        <th>
            Prefix
        </th>
        <th>
            Number
        </th>
        <th>
            Name
        </th>
        <th>
            Semester
        </th>
        <th>
            Year
        </th>
        <th>
            NumberOfSections
        </th>
        <th>
        </th>
    </tr>
    @foreach (OSBLE.Models.CoursesUsers item in ViewBag.CurrentCourses)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Course.Prefix)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course.Semester)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course.NumberOfSections)
            </td>
            <td>
                @if (item.CourseRole.CanModify)
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.Course.ID });
                    <text> | </text>
                    @Html.ActionLink("Delete", "Delete", new { id = item.Course.ID });
                }
            </td>
        </tr>
    }
</table>