@model OSBLE.Models.Assignments.Activities.AsyncIssueVotingActivity
@using OSBLE.Models.Assignments.Activities
@using OSBLE.Models
@{
    ViewBag.Title = "Create Async Issue Voting";
}

<h2>Create Async Issue Voting</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<script type="text/javascript">
    $(function () {
        $('#enable_issue_voting_discussion').change(function () {
            if ($(this).attr('checked')) {
                DisplayReviewerMustCompleteIssueVotingOptions();
            } else {
                HideReviewerMustCompleteIssueVotingOptions();
            }
        });

        $("input[name='SetGrade']").change(function () {
            if ($("input[name='SetGrade']:checked").val() == 'PrecentOfIssues') {
                $('#set_grade').val("PercentOfIssues");
            }
            else if ($("input[name='SetGrade']:checked").val() == 'PercentAgreementWModerator') {
                $('#set_grade').val("PercentAgreementWModerator");
            }
            else if ($("input[name='SetGrade']:checked").val() == 'Manually') {
                $('#set_grade').val("Manually");
                DisplayManuallyGrade();
            }
            else {
                throw "Unknown Radio Button Checked: SetGrade"
            }
        });

        $('#add_to_gradebook').change(function () {
            if ($('#add_to_gradebook').attr('checked')) {
                $('#grade_options').show('blind');
            } else {
                $('#grade_options').hide();
            }
        });
    });

    function DisplayReviewerMustCompleteIssueVotingOptions() {
        $('#EnableIssueVotingDiscussion_options').show('blind');
    }

    function HideReviewerMustCompleteIssueVotingOptions() {
        $('#EnableIssueVotingDiscussion_options').hide('blind');
        $('#reviewer_must_complete_issue_voting').removeAttr('checked');
    }

</script>
@{
   
    using (Html.BeginForm("Create","AsyncIssueVoting",FormMethod.Post,new { id="issue_voting_form" }))
    {
   
        @Html.ValidationSummary(true)
        <fieldset>
            <legend>AsyncIssueVotingActivity</legend>

            @Html.Hidden("setgrade", new { id="set_grade"})


            <div class="editor-label">
                @Html.LabelFor(model => model.Name)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.AbstractAssignmentID, "Abstract Assignment")
            </div>
            <div class="editor-field">
                @Html.DropDownList("AbstractAssignmentID", String.Empty)
                @Html.ValidationMessageFor(model => model.AbstractAssignmentID)
            </div>

            <h2>Settings</h2>

            <div class="editor-field">
                @Html.CheckBoxFor(model => model.UseOnlyStudentsWhoCompletedPeerReview, new { id = "use_only_students_who_completed_peer_review" })
                @Html.LabelFor(model => model.UseOnlyStudentsWhoCompletedPeerReview)
                @Html.ValidationMessageFor(model => model.UseOnlyStudentsWhoCompletedPeerReview)
            </div>

            <h3>Anonymity of Review</h3>

            <div class="editor-field">
                @Html.CheckBoxFor(model => model.peerReviewActivity.IsAuthorAnonymous, new { id = "is_author_anonymous" })
                @Html.LabelFor(model => model.peerReviewActivity.IsAuthorAnonymous)
                @Html.ValidationMessageFor(model => model.peerReviewActivity.IsAuthorAnonymous)
            </div>

            <div class="editor-field">
                @Html.CheckBoxFor(model => model.peerReviewActivity.IsReviewersAnonymous, new { id = "is_reviewer_anonymous" })
                @Html.LabelFor(model => model.peerReviewActivity.IsReviewersAnonymous)
                @Html.ValidationMessageFor(model => model.peerReviewActivity.IsReviewersAnonymous)
            </div>

            <div class="editor-field">
                @Html.CheckBoxFor(model => model.peerReviewActivity.IsReviewersRoleAnonymous, new { id = "is_reviewers_role_anonymous" })
                @Html.LabelFor(model => model.peerReviewActivity.IsReviewersRoleAnonymous)
                @Html.ValidationMessageFor(model => model.peerReviewActivity.IsReviewersRoleAnonymous)
            </div>

            <h4>Issue Voting</h4>

            <div class="editor-field">
                @Html.CheckBoxFor(model => model.EnableIssueVotingDiscussion, new { id = "enable_issue_voting_discussion" })
                @Html.LabelFor(model => model.EnableIssueVotingDiscussion)
                @Html.ValidationMessageFor(model => model.EnableIssueVotingDiscussion)
            </div>
            <div id="EnableIssueVotingDiscussion_options" class="indented_options" style="display: none">
                <div class="editor-field">
                    @Html.CheckBoxFor(model => model.ReviewerMustCompleteIssueVoting, new { id = "reviewer_must_complete_issue_voting" })
                    @Html.LabelFor(model => model.ReviewerMustCompleteIssueVoting)
                    @Html.ValidationMessageFor(model => model.ReviewerMustCompleteIssueVoting)
                </div>
            </div>

            <h4>Grading</h4>

            <div>
                <input type="radio" name="SetGrade" value="PrecentOfIssues" />
                Set Grade to percentage of issues voted on
                <br />
           </div>

           <div>
                <input type="radio" name="SetGrade" value="PercentAgreementWModerator" />
                Set grade to percent in agreement with moderator
                <br />
           </div>

           <div>
                <input type="radio" name="SetGrade" value="Manually" />
                Manually enter grade
                <br />
           </div>

           <div class="editor-label">
                Add to Gradebook
            </div>
            <div class="editor-field">
                <input type="checkbox" id="add_to_gradebook" checked="checked" />
            </div>
    
            <div id="grade_options" class="indented_options">
                <div class="editor-field">
                    Worth
                    @Html.TextBoxFor(model => model.PointsPossible, new { id = "points_possible", size = 3 })
                    Points in Category <span id="grade_category_label"></span>

                    @Html.ValidationMessageFor(model => model.PointsPossible)
                </div>
        

                <h3>Late Policy</h3>
    
                <p>
                    Students may submit assignments up to @Html.TextBoxFor(model => model.MinutesLateWithNoPenalty, new { size = 3 })
                    minutes late at no penalty, after which a penalty of @Html.TextBoxFor(model => model.PercentPenalty, new { size = 3 })
                    percent per @Html.TextBoxFor(model => model.HoursLatePerPercentPenalty, new { size = 3 })
                    hours late will be applied.<br />
                    @Html.ValidationMessageFor(model => model.MinutesLateWithNoPenalty)
                    @Html.ValidationMessageFor(model => model.PercentPenalty)
                    @Html.ValidationMessageFor(model => model.HoursLatePerPercentPenalty)
                </p>
    
    
                <p>
                    Assignments that are submitted more than @Html.TextBoxFor(model => model.HoursLateUntilZero, new { size = 3 })
                    hours after the due date and time will receive an automatic 0.<br />
                    @Html.ValidationMessageFor(model => model.HoursLateUntilZero)
                </p>

            </div>

            <p>
                <input type="submit" value="Create Async Issue Voting" id="Submit"/>
            </p>
        </fieldset>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
    
}
