@using OSBLE.Areas.AssignmentWizard.Controllers
@using OSBLE.Areas.AssignmentWizard.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Header
{
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/json2.min.js")" type="text/javascript"></script>
    @RenderSection("Header", false)
}
<div id="WizardContent">
<h1>@ViewBag.ComponentName</h1>
@using (Html.BeginForm("QuickNav", null, FormMethod.Post, new {id = "QuickNavForm" }))
{
    if (ViewBag.Assignment.ID != 0)
    {
        <text>Navigate to section:</text>
        <select id="ComponentNameNavSelect" name="ComponentName">
        @foreach (WizardBaseController component in ViewBag.Components)
        {
            string selectedText = "";
            if (component.ControllerName.CompareTo(ViewBag.ActiveComponent.ControllerName) == 0)
            {
                selectedText = "selected=\"selected\"";
            }
            <option value="@component.ControllerName" @Html.Raw(selectedText)>@component.ControllerName</option>    
        }
        </select>
        <script type="text/javascript">
            $('#ComponentNameNavSelect').change(function () { $('#QuickNavForm').submit(); });
        </script>
        <br />
        <br />
    }
}
@using (Html.BeginForm("Index", null, FormMethod.Post, new { id = "WizardForm" }))
{
@RenderBody()
<div id="WizardBottomNav" style="clear:both;">
        <input type="submit" value="Previous" name="@ViewBag.PreviousWizardButton" />
        <input type="submit" value="Next" name="@ViewBag.NextWizardButton" />
</div>
}

<!--end of "WizardContent"-->
</div>