@using OSBLE.Areas.AssignmentWizard.Controllers
@using OSBLE.Areas.AssignmentWizard.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Header
{
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/json2.min.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/AssignmentWizard/Content/css/layout.css")" type="text/css" rel="Stylesheet" />
    @RenderSection("Header", false)
}
<div id="WizardContent">
<h1>Assignment Wizard</h1>
@using (Html.BeginForm("Index", null, FormMethod.Post, new { id = "WizardForm" }))
{
    <ul id="QuickNav">
        @if (ViewBag.Assignment != null && ViewBag.Assignment.ID != 0)
        {
            <li class="quickNavItem quickNavNotActive"><a href="#" onclick="changePage('');">Component Selection</a></li>
            foreach (WizardBaseController comp in ViewBag.Components)
            {
                if (comp.ControllerName == ViewBag.ActiveComponent.ControllerName)
                {
                <li class="quickNavItem quickNavActive"><a href="#" onclick="changePage('@comp.ControllerName');">@comp.PrettyName</a></li>
                }
                else
                {
                <li class="quickNavItem quickNavNotActive"><a href="#" onclick="changePage('@comp.ControllerName');">@comp.PrettyName</a></li>
                }
            }
        }
    </ul>
<div id="WizardFormBody">
@RenderBody()
</div>
<div id="WizardBottomNav" style="clear:both;">
        <input type="submit" value="Previous" name="@WizardNavButtons.PreviousButton" />
        @if (ViewBag.Assignment != null && ViewBag.Assignment.ID != 0)
        {
            <input type="submit" value="Save & Exit" name="@WizardNavButtons.SaveAndExitButton" />
            <input type="button" value="Reset Values" name="@WizardNavButtons.ResetFormButton" onclick="resetPage();" />
        }
        <input type="submit" value="Next" name="@WizardNavButtons.NextButton" />
        <input type="hidden" id="ComponentNameNavSelect" name="ComponentName" />
</div>
}
@using (Html.BeginForm("QuickNav", null, FormMethod.Post, new { id = "QuickNavForm" }))
{
    <input type="hidden" id="DummyComponentNameNavSelect" name="ComponentName" />
}
<!--end of "WizardContent"-->
</div>
<script type="text/javascript">
    function resetPage() {
        $("#DummyComponentNameNavSelect").val("@(ViewBag.ActiveComponent.ControllerName)");
        $("#QuickNavForm").submit();
    }
    function changePage(page) {
        $("#ComponentNameNavSelect").val(page.toString());
        $("#WizardForm").submit();
    }
</script>