@using OSBLE.Models.Assignments;
@using OSBLE.Models;
@{
    List<Assignment> previousAssignments = ViewBag.PreviousAssignments as List<Assignment>;
    var temp = Model;
    var temp2 = ViewBag;
    var temp3 = ViewData;
    var temp4 = TempData;
    var temp5 = Cache;    
    int i = 0;
    
}
@model Assignment
@Html.HiddenFor(m => m.ID)

@if (Model.AssignmentTypeID == (int)AssignmentTypes.AnchoredDiscussion)
{
    <p>This assignment type depends on a previously created assignment, or an assignment to be uploaded for review.  Please select that assignment from the dropdown list.</p>
    
    
   
    //TODO: Allow uploading of document, set so the value passed points to the newly uploaded document instead of the previous assignment dropdown.
    <h4>Upload a document for review</h4>
    <br />    <br />
}
else
{
    <p>
        This assignment type depends on a previously created assignment.  Please select that assignment from the dropdown list.
    </p>
    
}

@if(previousAssignments.Count > 0)
{ 

    <select name="PreviousAssignmentSelect">
        @foreach (Assignment previousAssignment in previousAssignments)
        {
            if (ViewBag.PrecedingAssignmentID == previousAssignment.ID)
            {
                <option selected="selected" value="@previousAssignment.ID">@previousAssignment.AssignmentName</option>
            }
            else
            {
                <option value="@previousAssignment.ID">@previousAssignment.AssignmentName</option>
            }

        }
    </select>

}

