@model OSBLE.Models.ViewModels.RubricViewModel
@using OSBLE.Models.Courses.Rubrics;
@using OSBLE.Models.Assignments;
@using OSBLE.Models.Users;
@using OSBLE.Models.Courses;
@{ViewBag.Title = "Rubric Evaluation";
  int maxLevelScore = (from c in Model.Rubric.Levels
                       select c.RangeEnd).Sum();
  double totalRubricPoints = (from c in Model.Rubric.Criteria
                              select c.Weight).Sum();
  string critInputPrefix = ViewBag.CritInputPrefix;
  string critSliderPrefix = ViewBag.CritSliderPrefix;
  string critCommentPrefix = ViewBag.CritCommentPrefix;
  string selectedAssignment = ViewBag.AssignmentSelectId;
  string selectedTeam = ViewBag.TeamSelectId;
  string draftButton = ViewBag.DraftButtonId;
  string publishButton = ViewBag.PublishButtonId;
  string gradeId = "grade";
  int sliderTableLength = 880;
  int textInputLenght = 25;
  int sliderTableCellWidth = (sliderTableLength / maxLevelScore) - textInputLenght;
  DateTime? publishTime = Model.Evaluation.DatePublished;

  Boolean editable = ViewBag.isEditable;
  List<CourseUser> cuList = ViewBag.ObserverCU;
  
  }
<script type="text/javascript">
function create_and_open_downloading_submission_dialog() {

        //create the div that we will then make into a dialog

        $('body').append(
       '<div id="downloading_submission_dialog" title="Download Submission"> \
        <p>The zip is being generated and will automatically start downloading when it is ready, please do not leave the page or click the link again</p> \
    </div>');

        //make the div we just created into a dialog box

        $('#downloading_submission_dialog').dialog({
            modal: false,
            autoOpen: true,
            resizable: true,
            width: 350,
            height: 300,
            closeOnEscape: true,
            close: remove_downloading_submission_dialog,
            buttons: {"OK": remove_downloading_submission_dialog}
        });



        $('#downloading_submission_dialog').dialog('open');

        return false;

    }

    function remove_downloading_submission_dialog() {

        //change the dialog back into a normal div (that is what destroy does although it does not destroy the div)
        $('#downloading_submission_dialog').dialog("destroy");

        //then remove the div
        $('#downloading_submission_dialog').remove();
    }

    function switchEvaluation()
    {
        var assignmentID = $('#@selectedAssignment').val();
        var teamID = $('#@selectedTeam').val();
        window.location.replace("/Rubric?assignmentId=" + assignmentID + "&cuId=" + teamID);
    }

    function updateGrade()
    {
        var grade = 0.0;
        @{foreach (Criterion crit in Model.Rubric.Criteria)
          {
              string targetId = String.Format("\"#{0}_{1}\"", critInputPrefix, crit.ID);
              @Html.Raw("\tgrade += $(" + targetId + ").val() / " + maxLevelScore + " * " + crit.Weight / totalRubricPoints + ";\n")
          }
        }
        $('#@gradeId').html(Math.round(grade * 100) + "%");
    }

    //updates individual sliders with new values
    function updateSlider(event, ui) {
        var pieces = event.target.id.split('_');
        var target = pieces[2];
        var targetId = "#@(critInputPrefix)_" + target;
        $(targetId).val(ui.value);
        updateGrade();
    }
</script>
<style type="text/css">
    .dashboard
    {
        float: left;
    }
    
    .dashboard table th
    {
        text-align: left;
    }
    
    .dashboard table th, .dashboard table th
    {
        padding: 4px;
    }
    
    #rubric_evaluator
    {
        width: 900px;
    }
</style>
<div id="rubric_evaluator">
    
    @if (editable == true) 
    {
        <h1>Rubric Evaluation of @Model.SelectedAssignment.AssignmentName for @Model.Evaluation.Recipient.Name</h1>
    }
    else
    {
        <h1>Rubric Evaluation of @Model.SelectedAssignment.AssignmentName for Anonymous @cuList.IndexOf(@Model.Evaluation.Recipient.TeamMembers.FirstOrDefault().CourseUser)</h1>
    }
    <div class="dashboard">
        <table>
            <tr>
                <th>
                    Activity:
                </th>
                <td>
                    <select id="@selectedAssignment" name="@selectedAssignment">
                        @{foreach (Assignment assignment in Model.AssignmentList)
                          {
                              string optionText = "<option value=\"{0}\" {1}>{2}</option>";
                              string selectedValue = "";
                              if (assignment.ID == Model.SelectedAssignment.ID)
                              {
                                  selectedValue = "selected=\"selected\"";
                              }
                            @Html.Raw(String.Format(optionText, assignment.ID, selectedValue, assignment.AssignmentName));
                          }
                        }
                    </select>
                </td>
                <th>
                    Student/Team:
                </th>
                <td>
                    <select id="@selectedTeam" name="@selectedTeam">
                        @{foreach (AssignmentTeam team in Model.TeamList)
                          {
                              string optionText = "<option value=\"{0}\" {1}>{2}</option>";
                              string selectedValue = "";
                              if (team.TeamID == Model.SelectedTeam.TeamID)
                              {
                                  selectedValue = "selected=\"selected\"";
                              }
                              if (editable == true) 
                              {
                                    @Html.Raw(String.Format(optionText, team.Team.TeamMembers.FirstOrDefault().CourseUserID, selectedValue, team.Team.Name));
                              }
                              else
                              {
                                  string name = "Anonymous " + @cuList.IndexOf(team.Team.TeamMembers.FirstOrDefault().CourseUser);
                                  @Html.Raw(String.Format(optionText, team.Team.TeamMembers.FirstOrDefault().CourseUserID, selectedValue, name);
                              }
                          }
                        }
                    </select>
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <th>
                    Grade:
                </th>
                <td id="@gradeId" style="padding-right:25px">
                    0%
                </td>
                @if (Model.SelectedAssignment.HasDeliverables)
                { 
                <td>
                    @Html.ActionLink("Download Submission Files", "GetSubmissionZip", "FileHandler", new { assignmentID = Model.SelectedAssignment.ID, teamID = Model.SelectedTeam.TeamID }, new { onclick = "create_and_open_downloading_submission_dialog()" })
                </td>
                }
                @if (Model.SelectedAssignment.HasCommentCategories)
                { 
                <td>
                    @Html.ActionLink("View/Edit Inline Comments", "InlineReview", "Assignment", new { assignmentID = Model.SelectedAssignment.ID, teamID = Model.SelectedTeam.TeamID }, new { style = "padding-left: 25px;" })
                </td>
                }
            </tr>
        </table>
    </div>
    @using (Html.BeginForm("Index", "Rubric", FormMethod.Post, new { id = "rubric_form" }))
    {
        <table style="float:right">
            <tr>
                @if (Model.Evaluation.IsPublished == true || editable == false)
                {
                    <td><input disabled="disabled" type="submit" name="@draftButton" value="Save as Draft" /></td>
                }
                else
                {
                    <td><input type="submit" name="@draftButton" value="Save as Draft" /></td>
                }
                
                @if(editable == true)
                {
                    <td><input type="submit" name="@publishButton" value="Publish to Student" /></td>
                }
            </tr>
                @if (publishTime.HasValue)
                {
                    if (Model.Evaluation.IsPublished == true)
                    {
                                <tr><td colspan="2">Published at: @publishTime.Value.ToString("g")</td></tr>
                    }
                    else
                    {
                                <tr><td colspan="2">Draft saved at: @publishTime.Value.ToString("g")</td></tr>
                    }
                }
            
        </table>
        
        @Html.Partial("_Display", Model)
        
                //Disable the save as draft button if its already published
                if (Model.Evaluation.IsPublished == true || editable == false)
                {
                    <input disabled="disabled" type="submit" name="@draftButton" value="Save as Draft" />
                }
                else
                {
                    <input type="submit" name="@draftButton" value="Save as Draft" />
                }
                if(editable == true)
                {
                    <input type="submit" name="@publishButton" value="Publish to Student" />
                }
        <br />
        <br />
        <input type="hidden" name="@ViewBag.AssignmentId" value="@Model.SelectedAssignment.ID" />
        <input type="hidden" name="@ViewBag.CourseUserId" value="@Model.SelectedTeam.Team.TeamMembers.FirstOrDefault().CourseUserID" />
        <input type="hidden" name="@ViewBag.TeamId" value="@Model.SelectedTeam.TeamID" />
    }
</div>
