@using OSBLE.Resources
@using OSBLE.Models.Assignments
@model DynamicDictionary
@{
    dynamic dataModel = Model;               
}
<tr>
    <th>Initial Post Due:</th>
    <td>
        <time 
                class="utc-time"
                datetime="@Helpers.DateAsUnixTime(dataModel.InitialPostDue)" 
                data-original-date="@Helpers.RawDate(dataModel.InitialPostDue)" 
                data-date-format="MM/DD/YYYY hh:mm A">
            @dataModel.InitialPostDue.ToShortDateString() @dataModel.InitialPostDue.ToShortTimeString()
        </time>
    </td>
</tr>

<tr>
    <th>Final Post Due:</th>
    <td>
        <time 
                class="utc-time"
                datetime="@Helpers.DateAsUnixTime(dataModel.DueDate)" 
                data-original-date="@Helpers.RawDate(dataModel.DueDate)" 
                data-date-format="MM/DD/YYYY hh:mm A">
        @dataModel.DueDate.ToShortDateString() @dataModel.DueDate.ToShortTimeString()
            </time>
    </td>
</tr>
