@model OSBLE.Models.Community

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Community</legend>

    <div class="display-label">Description</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">Nickname</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nickname)
    </div>

    <div class="display-label">AllowEventPosting</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AllowEventPosting)
    </div>

    <div class="display-label">Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
