@{
    ViewBag.Title = "Creating a new Course";
}
<h1>Creating a new Course</h1>
<p>
    <br /> This page will guide you through the creation of a new course.
    Note that in order to create courses, your account must have prior authorization from the OSBLE administrators. <br />
    To obtain authorization for your account, please contact OSBLE support at <a href="mailto:support@osble.org">support@osble.org.</a>
    After logging into OSBLE, look towards the upper right-hand side of the site. <br />
    Click on the course title just to the left of your profile picture to open a drop-down menu.
    This will be labled as &quot;No Courses&quot; if you have no courses connected to your profile.
</p>
<img src="@Url.Content("~/Content/images/help/create_1.png")" alt="add course image" />
<p>
    <br /> Next, click on the &quot;Create Course / Community&quot; option below your course list.
    As before, this list will look slightly different if you have no courses connected to your profile. 
</p>
<img src="@Url.Content("~/Content/images/help/create_2.png")" alt="add course image" />
<hr width="90%">
<p>
    If you are on the <b>mobile</b> version of OSBLE, start by opening the menu in the upper right-hand side of the site.
</p>
<img src="@Url.Content("~/Content/images/help/create_mobile_1.png")" alt="open menu mobile image" />
<p>
    <br /> In this menu, select the current course, then select the &quot;Create Course / Community&quot; option. From here on, the
    mobile creation will be the same as the desktop version.
</p>
    <img src="@Url.Content("~/Content/images/help/create_mobile_2.png")" alt="add course mobile image" />
<hr width="90%">
<p>
    <br /> Upon clicking the &quot;Create Course / Community&quot; option, OSBLE will prompt you for the type of course to create.
    In this tutorial, we are concerned with creating a new course, so we will click that link.
</p>
<img src="@Url.Content("~/Content/images/help/create_3.png")" alt="select create course" />
<p>
    <br /> After clicking on the &quot;Create Course&quot; link, OSBLE will bring you to the main course creation page.
    In the example pictured below, we have created a course titled &quot;OSBLE 101 – My OSBLE Course&quot;
    that starts on August 19, ends on December 13, and meets three times a week at 10:00 AM.
</p>
<img src="@Url.Content("~/Content/images/help/create_4.png")" alt="a sample course" />
<p>
    <br /> When you are satisfied with the structure of your course, click the &quot;Create Course&quot; button at the bottom
    of the page, which will create your course in the system and redirect you to the OSBLE dashboard.
</p>
<img src="@Url.Content("~/Content/images/help/create_5.png")" alt="a sample course" />