@{
    ViewBag.Title = "Managing your Roster";
}
<h1>Managing your Roster</h1>
<p>
    <br />
    In every OSBLE course and community, instructors and leaders have access to the Roster in which they can add, edit, and manage users within their course or community.
    The Roster has many powerful utilities that can help you manage your course or community with ease. This tutorial will identify these tools and demonstrate how to use them.
    Navigate to the Roster by clicking on the "Users" tab on the Navigation Bar.
</p>
<img src="@Url.Content("~/Content/images/help/manageRoster_1.png")" alt="get to roster" />
<p>
    <br />
    Assuming your course is already populated, you should see a Roster similar to the following. If you need help adding students to your course, view the help page <a href="~/Help/AddingStudents"><u>Adding Students to a Course</u></a>.
</p>
<img src="@Url.Content("~/Content/images/help/manageRoster_9.png")" alt="roster example" />

<h2>Editing a User's Course Role</h2>
<p>
    <br />
    From the roster, you can view and edit any user within the course or community. To do this, hover over the user's box and an edit icon will appear at the upper right-hand corner of the box. 
</p>
<img src="@Url.Content("~/Content/images/help/manageRoster_8.png")" alt="user edit button" />
<p>
    <br />
    Click this button and you will be directed to that user's information page.
</p>
<img src="@Url.Content("~/Content/images/help/manageRoster_7.png")" alt="inspect page" />
<p>
    <br />
    Here we can see the user's course information and role. To change the role, simply click on the drop down menu under Course Role and select the desired role. To finalize your selection, press the "Save User" button.
</p>
<img src="@Url.Content("~/Content/images/help/manageRoster_6.png")" alt="change role" />

<h2>Perform User Actions</h2>
<p>
    <br />
    The Roster page allows you to perform several user actions such as moving users to different or new sections, withdrawing users, enrolling users, and removing users. Note that OSBLE communities will have less functionality as some actions do not apply to communities.
    To begin any user action, you must first select users you wish your action to apply to. You can do this by clicking on a user's box or using the checkboxes next to a section or role description. You can always add more users to your selection by clicking them.
</p>
<img src="@Url.Content("~/Content/images/help/manageRoster_3.png")" alt="select users" />
<p>
    <br />
    Once you have selected at least one user, the User Actions Tool Kit will pop up. You may move and resize this window, and it will automatically disappear when all users are deselected.
    In a course, this windows allows you to select all users, change sections, mail users, withraw users, enroll users, and remove users. 
</p>
<img src="@Url.Content("~/Content/images/help/manageRoster_4.png")" alt="course user box" />
<p>
    <br />
    Note that you can move your selected users to multiple sections by control-clicking different sections in the section list.
</p>
<img src="@Url.Content("~/Content/images/help/manageRoster_10.png")" alt="community user box" />
<p>
    <br />
    In a community, this window allows you to select all users, mail users, and remove users. 
</p>
<img src="@Url.Content("~/Content/images/help/manageRoster_2.png")" alt="community user box" />
<h2>Section Constraints</h2>
<p>
    <br />
    Keep in mind that Instructors are always in "Teaching Personnel" giving them access to all sections. Students can only be in one section at a time. TAs can be in any numbers of sections, but are never listed as instructors. 
    <br /><br />
</p>