@model IEnumerable<OSBLE.Models.Event>

@using OSBLE.Models

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @if(ViewBag.ActiveCourse.CourseRole.CanModify || ViewBag.ActiveCourse.Course.AllowEventPosting) {
    @Html.ActionLink("Create New Event", "Create")
    }
</p>

@{
    DateTime today = DateTime.Now.Date;
    
    // First get events before today
    List<Event> pastEvents = Model.Where(e=>e.StartDate < today).ToList();
    List<Event> currentEvents = Model.Where(e => e.StartDate >= today).ToList();
}

@if(pastEvents.Count > 0) {
    
<h3><a href="#" onclick="$('#past_events').toggle('blind'); return false;">Past Events (@pastEvents.Count)</a></h3>

    ViewBag.Events = pastEvents;    

    <div id="past_events">
    @Html.Partial("_Events")
    </div>
}

@if (currentEvents.Count > 0)
{
    
<h3><a href="#" onclick="$('#current_events').toggle('blind'); return false;">Current Events (@currentEvents.Count)</a></h3>

    ViewBag.Events = currentEvents;
    
    <div id="current_events">
    @Html.Partial("_Events")
    </div>

}
