@using OSBLE.Models
@using OSBLE.Models.Assignments

    <table class="assignTable" cellspacing="0">
        <th colspan="2">Assignment</th>
        <th>Release Date</th>
        <th>Due Date</th>
        <th>Submissions</th>

        @{
            //KD: Assignments are in order based on:: past & present -> future -> draft. The flags below are used to avoid duplicate headers for each category
            bool draftFlag = false, futureFlag = false, presentFlag = false, pastFlag = false;
            foreach (Assignment assignment in ViewBag.Assignments)
            {
                //Order of if checks is important as these if/else ifs are using short-circuiting.
                if (assignment.IsDraft)
                {
                    //DRAFT
                    if (!draftFlag)
                    {
                        draftFlag = true;
                        if (pastFlag || presentFlag || futureFlag)
                        {
                         <tr><td style="padding-bottom:10px"></td></tr>
                        }
                    <tr><td colspan="100%" style="padding-right:0; font-size:large" class="osbleColorBold">Draft (@ViewBag.DraftCount)</td></tr>
                    }
                }
                else if (assignment.DueDate < ViewBag.CurrentDate && !pastFlag)
                {
                    //PAST
                    pastFlag = true;
                <tr><td colspan="100%" style="padding-right:0; font-size:large" class="osbleColorBold">Past (@ViewBag.PastCount)</td></tr>
                }
                else if (assignment.ReleaseDate > ViewBag.CurrentDate && !futureFlag)
                {
                    //FUTURE
                    futureFlag = true;
                    if (pastFlag || presentFlag)
                    {
                    <tr><td style="padding-bottom:10px"></td></tr>
                    }
                <tr><td colspan="100%" style="padding-right:0; font-size:large" class="osbleColorBold">Future (@ViewBag.FutureCount)</td></tr>
                
                }
                else if (assignment.DueDate >= ViewBag.CurrentDate && !presentFlag)
                {
                    //PRESENT
                    presentFlag = true;
                    if (pastFlag)
                    {
                    <tr><td style="padding-bottom:10px"></td></tr>
                    }
                }
                <tr class="checkeredRow">
                    <td> <!--Cell for name-->
                        @Html.ActionLink(assignment.AssignmentName, "Index", "Home", new { area = "AssignmentDetails", assignmentId = assignment.ID }, null)
                    </td>
                    <td>@assignment.ReleaseDate.ToShortDateString() @assignment.ReleaseTime.ToShortTimeString()</td>
                    <td>@assignment.DueDate.ToShortDateString() @assignment.DueDate.ToShortTimeString()</td>
                    @if (assignment.HasDeliverables)
                    {
                        if (draftFlag || pastFlag)
                        {
                            <td>@Html.ActionLink("Download all", "GetAllSubmissionsForActivity", "FileHandler", new { assignmentID = assignment.ID }, new { onclick = "create_and_open_downloading_submission_dialog()" })</td>
                        }
                        else
                        {
                            <td>@assignment.GetSubmissionCount() of @assignment.AssignmentTeams.Count received. @Html.ActionLink("Download all", "GetAllSubmissionsForActivity", "FileHandler", new { assignmentID = assignment.ID }, new { onclick = "create_and_open_downloading_submission_dialog()" })</td>
                        }
                    }
                    else
                    {
                        <td>No Deliverables</td>
                    }
                    @if (assignment.HasRubric)
                    {
                        if (futureFlag || draftFlag)
                        {
                            //MG&KD: If the assignment is future or draft, then only showing rubric as showing grading status is not logical
                            //MG: Might uncomment later<td>@Html.ActionLink("View Rubric", "Index", "Rubric", new { assignmentId = assignment.ID, cuId = assignment.AssignmentTeams.FirstOrDefault().Team.TeamMembers.FirstOrDefault().CourseUserID }, new { })</td>
                        }
                        else
                        {
                            <td>
                                @assignment.GetPublishedCount() of @assignment.AssignmentTeams.Count published, with @assignment.GetSavedAsDraftCount() saved as draft.
                                @Html.ActionLink("View Rubric", "ViewAsUneditable", "Rubric", new { assignmentId = assignment.ID }, new { })
                            </td>
                        }
                    }
                    else
                    {
                        if (futureFlag || draftFlag)
                        {
                            //MG&KD: Displaying nothing if its a future/draft assignment with no rubric. Nothing to display.
                            <td></td>
                        }
                        else
                        {
                            <td>
                                <a href="#" onclick="goToCategoryTab(@assignment.CategoryID, @assignment.AssignmentTeams.FirstOrDefault().Team.TeamMembers.FirstOrDefault().CourseUserID);" style="cursor:pointer;">Grade Now</a>
                            </td>
                        }
                    }
                </tr>
            }
        }
    </table>
