@using OSBLE.Models
@using OSBLE.Models.Assignments
@using OSBLE.Models.Courses
@using OSBLE.Models.Assignments
@using OSBLE.Models.ViewModels
@model Assignment

@{
    Assignment assignment = ViewBag.Assignment;
    Assignment PrecAssign = assignment.PreceedingAssignment;
    Team team = ViewBag.Team;
    ViewBag.Title = "Team Evaluation";
    
}

<h2>@assignment.AssignmentName</h2>
<h3>@team.Name's team evaluations for @PrecAssign.AssignmentName</h3>


@{
    <table id="TeamEvaluationTable">
        <tr>
        <td id="topLeftCell">&nbsp;</td>
        <th colspan="@(team.TeamMembers.Count+2)">Evaluators</th>
        </tr>
        <tr>
        <th>Recipient</th>
        @foreach (CourseUser cu in ViewBag.CourseUsersInOrder)
        {
            <th class="nonBoldTH">@cu.UserProfile.LastAndFirst()</th>
        }
        <th class="nonBoldTH">Multipliers</th>
        </tr>

        @{
            for (int i = 0; i < ViewBag.CourseUsersInOrder.Count; i++)
            {
                <tr style="">
                    <td>@ViewBag.CourseUsersInOrder[i].UserProfile.LastAndFirst()</td>
                    @for (int j = 0; j < ViewBag.CourseUsersInOrder.Count; j++)
                    {
                        <td>@ViewBag.table[j,i]</td>
                    }
                    <td class="multiplierTD" style="vertical-align: bottom;">
                        @ViewBag.MultipliersInOrder[i]
                    </td>
                </tr>
            }
        }
    </table>    
    <br />
    @Html.ActionLink("Publish " + team.Name + "'s  Multiplier", "PublishTeamMultiplier", new { teamId = team.ID, assignmentId = assignment.ID })                                                                                               
}

<script type="text/javascript">
</script>