@using OSBLE.Models
@using OSBLE.Models.Assignments
@model OSBLE.Models.ViewModels.AssignmentListViewModel

@if((ViewBag.PastAssignments.Count > 0 ||
     ViewBag.PresentAssignments.Count > 0 ||
     ViewBag.FutureAssignments.Count > 0) || 
     ViewBag.DraftAssignments.Count > 0) 
{
    ViewBag.AssignmentList = 1;
    <table class="assignTable" cellspacing="0">
        <th colspan="2">Assignment</th>
        <th>Release Date</th>
        <th>Due Date</th>
        <th>Submissions</th>
        @if (ViewBag.PastAssignments.Count > 0)
        {
            //Needed a way to put blank space in a table, only when the previous assignment category had
            //<tr><td style="padding-bottom:10px"></td></tr>
            <tr><td colspan="100%" style="padding-right:0" class="osbleColorBold">Past (@ViewBag.PastAssignments.Count)</td></tr>
        }
        @foreach (Assignment a in ViewBag.PastAssignments)
        {
            
            <tr class="checkeredRow">
                <td style="padding-right:0"><!--Cell for icons-->
                    <a title="Click to Unpublish"  class="pointerOnMouseOver" onclick="toggleDraft(@a.ID)">@Helpers.UnPublishButton()</a>
                    <a title="Click to Edit" href="@Url.Action("Index", "Home", new { area = "AssignmentWizard", assignmentId = a.ID })">@Helpers.EditButton()</a>
                    <a title="Click to Delete" class="pointerOnMouseOver" onclick="openConfirmDeleteWindow(@a.ID)">@Helpers.DeleteButton()</a>
                </td>
                <td> <!--Cell for name-->
                    @Html.ActionLink(a.AssignmentName, "AssignmentDetails", "Assignment", new { a.ID }, null)
                </td>
                <td>@a.ReleaseDate.ToShortDateString()</td>
                <td>@a.DueDate.ToShortDateString()</td>
                @if (a.HasDeliverables)
                {
                    //Teacher with deliverables, download all option should be here
                    <td>@Html.ActionLink("Download all", "GetAllSubmissionsForActivity", "FileHandler", new { assignmentID = a.ID }, new { onclick = "create_and_open_downloading_submission_dialog()" })</td>
                }
                else
                {
                    <td>No Deliverables</td>
                }
            </tr>
        }
        
        @if (ViewBag.PresentAssignments.Count > 0)
        {
            if (ViewBag.PastAssignments.Count > 0)
            {
                //Needed a way to put blank space in a table, only when the previous assignment category had
                <tr><td style="padding-bottom:10px"></td></tr>
            }
            <tr><td colspan="100%" class="osbleColorBold">Present (@ViewBag.PresentAssignments.Count)</td></tr>
        }
        @foreach (Assignment a in ViewBag.PresentAssignments)
        {
            <tr class="checkeredRow">
                <td style="padding-right:0"><!--Cell for icons-->
                    <a title="Click to Unpublish"  class="pointerOnMouseOver" onclick="toggleDraft(@a.ID)">@Helpers.UnPublishButton()</a>
                    <a title="Click to Edit" href="@Url.Action("Index", "Home", new { area = "AssignmentWizard", assignmentId = a.ID })">@Helpers.EditButton()</a>
                    <a title="Click to Delete" class="pointerOnMouseOver" onclick="openConfirmDeleteWindow(@a.ID)">@Helpers.DeleteButton()</a>
                </td>
                <td> <!--Cell for name-->
                    @Html.ActionLink(a.AssignmentName, "AssignmentDetails", "Assignment", new { a.ID }, null)
                </td>
                <td>@a.ReleaseDate.ToShortDateString()</td>
                <td>@a.DueDate.ToShortDateString()</td>
                @if (a.HasDeliverables)
                {
                    //Teacher with deliverables, download all option should be here
                    <td>@Html.ActionLink("Download all", "GetAllSubmissionsForActivity", "FileHandler", new { assignmentID = a.ID }, new { onclick = "create_and_open_downloading_submission_dialog()" })</td>
                }
                else
                {
                    <td>No Deliverables</td>
                }
            </tr>
        }
        @if (ViewBag.FutureAssignments.Count > 0)
        {
            if (ViewBag.PastAssignments.Count > 0 || ViewBag.PresentAssignments.Count > 0)
            {
                //Needed a way to put blank space in a table, only when the previous assignment category had
                <tr><td style="padding-bottom:10px"></td></tr>
            }
            <tr><td colspan="100%" style="padding-right:0" class="osbleColorBold">Future (@ViewBag.FutureAssignments.Count)</td></tr>
        }
        @foreach (Assignment a in ViewBag.FutureAssignments)
        {
            <tr class="checkeredRow">
                <td style="padding-right:0"><!--Cell for icons-->
                    <a title="Click to Unpublish"  class="pointerOnMouseOver" onclick="toggleDraft(@a.ID)">@Helpers.UnPublishButton()</a>
                    <a title="Click to Edit" href="@Url.Action("Index", "Home", new { area = "AssignmentWizard", assignmentId = a.ID })">@Helpers.EditButton()</a>
                    <a title="Click to Delete" class="pointerOnMouseOver" onclick="openConfirmDeleteWindow(@a.ID)">@Helpers.DeleteButton()</a>
                </td>
                <td> <!--Cell for name-->
                    @Html.ActionLink(a.AssignmentName, "AssignmentDetails", "Assignment", new { a.ID }, null)
                </td>
                <td>@a.ReleaseDate.ToShortDateString()</td>
                <td>@a.DueDate.ToShortDateString()</td>
                @if (a.HasDeliverables)
                {
                    //Teacher with deliverables, download all option should be here
                    <td>@Html.ActionLink("Download all", "GetAllSubmissionsForActivity", "FileHandler", new { assignmentID = a.ID }, new { onclick = "create_and_open_downloading_submission_dialog()" })</td>
                }
                else
                {
                    <td>No Deliverables</td>
                }
            </tr>
        }
        @if (ViewBag.DraftAssignments.Count > 0)
        {
            if (ViewBag.PastAssignments.Count > 0 || ViewBag.PresentAssignments.Count > 0 || ViewBag.FutureAssignments.Count > 0)
            {
                //Needed a way to put blank space in a table, only when the previous assignment category had
                <tr><td style="padding-bottom:10px"></td></tr>
            }
            <tr><td colspan="100%" style="padding-right:0" class="osbleColorBold">Draft (@ViewBag.DraftAssignments.Count)</td></tr>
        }
        
        @foreach (Assignment a in ViewBag.DraftAssignments)
        {
            <tr class="checkeredRow">
                <td style="padding-right:0"><!--Cell for icons-->
                    <a title="Click to Publish"  class="pointerOnMouseOver" onclick="toggleDraft(@a.ID)">@Helpers.PublishButton()</a>
                    <a title="Click to Edit" href="@Url.Action("Index", "Home", new { area = "AssignmentWizard", assignmentId = a.ID })">@Helpers.EditButton()</a>
                    <a title="Click to Delete" class="pointerOnMouseOver" onclick="openConfirmDeleteWindow(@a.ID)">@Helpers.DeleteButton()</a>
                </td>
                <td> <!--Cell for name-->
                    @Html.ActionLink(a.AssignmentName, "AssignmentDetails", "Assignment", new { a.ID }, null)
                </td>
                <td>@a.ReleaseDate.ToShortDateString()</td>
                <td>@a.DueDate.ToShortDateString()</td>
                @if (a.HasDeliverables)
                {
                    //Teacher with deliverables, download all option should be here
                    <td>@Html.ActionLink("Download all", "GetAllSubmissionsForActivity", "FileHandler", new { assignmentID = a.ID }, new { onclick = "create_and_open_downloading_submission_dialog()" })</td>
                }
                else
                {
                    <td>No Deliverables</td>
                }
            </tr>
        }
    </table>
}