@using OSBLE.Models
@using OSBLE.Models.Assignments
@using OSBLE.Models.Courses
@using OSBLE.Models.Assignments
@using OSBLE.Models.ViewModels
@model Assignment

@{
    Assignment assignment = ViewBag.Assignment;
    Assignment PrecAssign = ViewBag.PrecedingAssignment;
    Team team = ViewBag.Team;
    List<TeamEvaluationViewModel> tevmList = ViewBag.tevmList;
    ViewBag.Title = "Team Evaluation";
    
}

<h2>@assignment.AssignmentName</h2>
<h3>@team.Name's team evaluations for @PrecAssign.AssignmentName</h3>


@{
    <table id="TeamEvaluationTable">
        <tr>
        <td id="topLeftCell">&nbsp;</td>
        <th colspan="@(team.TeamMembers.Count+2)">Evaluators</th>
        </tr>
        <tr>
        <th>Recipient</th>
        @foreach (CourseUser cu in ViewBag.CourseUsersInOrder)
        {
            <th class="nonBoldTH">@cu.UserProfile.LastAndFirst()</th>
        }
        <th class="nonBoldTH">Multipliers</th>
        <th class="nonBoldTH">Previous Assignment Grade</th>
        </tr>

        @{
            for(int i = 0; i<team.TeamMembers.Count;i++)
            {
                <tr>
                    <td>@ViewBag.CourseUsersInOrder[i].UserProfile.LastAndFirst()</td>
                    @for (int j = 0; j < team.TeamMembers.Count; j++)
                    {
                        <td>@ViewBag.table[j,i]</td>
                    }
                    <td class="multiplierTD">
                        @ViewBag.MultipliersInOrder[i]
                        <a style="display:none;" onclick="openMultiplierWindow(@team.ID, @ViewBag.CourseUsersInOrder[i].ID, @ViewBag.MultipliersInOrder[i]);">@Helpers.EditButton()</a>
                    </td>
                    <td>@ViewBag.ScoresInOrder[i].Points</td>
                </tr>
            }
            
            }
        
    </table>    
    <br />
    @Html.ActionLink("Publish " + team.Name + "'s  Multiplier", "PublishTeamMultiplier", new { teamId = team.ID, assignmentId = assignment.ID })                                                                                               
}

	 <!-- Pop-up window for editing late percentage -->
<div id="MultiplierWindow" style="display: none;" title="Edit Multiplier">
   <input type="radio" id="radioBtn1" name="group1"/> Use default multiplier<br />
   <input type="radio" id="radioBtn2" name="group1"/> Use a custom multiplier of <input size="5" id="customMulti"/><br />
   <td>
       <text id="latePenErrorText" style="color:Red; float:left; font-size:smaller"></text><br />
       <div style="float:right">
           <input id="SetMultiplierButton" data-tid="" data-cuid="" type="button" onclick="setMultiplier();" value="Apply Changes" />
           <input type="button" onclick="closeMultiplierWindow();" value="Cancel" />
       </div>
   </td>
</div>

<script type="text/javascript">

    $(".multiplierTD").mouseenter(function () {
        $(this).find("a").show();
    });

    $(".multiplierTD").mouseleave(function () {
        $(this).find("a").hide();
    });

    function openMultiplierWindow(tID, cuID, multi) {
        $("#SetMultiplierButton").attr("data-tid", tID);
        $("#SetMultiplierButton").attr("data-cuid", cuID);
        $("#SetMultiplierButton").attr("data-multi", multi);
        $("#MultiplierWindow").dialog({
            autoOpen: true,
            modal: true,
            resizable: false,
            width: 370,
            height: 150,
            closeOnEscape: false
        });
    }


    function closeMultiplierWindow() {
        $("#MultiplierWindow").dialog("close");
    }

    function setMultiplier() {
        if ($("#radioBtn1").attr('checked') == "checked") {
            $.ajax({
                async: false,
                url: "/Assignment/ModifyMultiplier",
                data: {
                    teamID: $("#SetMultiplierButton").attr("data-tid"),
                    cuID: $("#SetMultiplierButton").attr("data-cuid"),
                    value: $("#SetMultiplierButton").attr("data-multi")
                    }
            });
        }
        else { /*custom*/
            var customValue = $("#customMulti").val();
            $.ajax({
                async: false,
                url: "/Assignment/ModifyMultiplier",
                data: {
                    teamID: $("#SetMultiplierButton").attr("data-tid"),
                    cuID: $("#SetMultiplierButton").attr("data-cuid"),
                    value: customValue
                }
            });
        }
        window.location.reload(true);
    }
</script>