@using OSBLE.Models.ViewModels
@model ActivityTeacherTableViewModel

@{
    Layout = "";
    int submissionInfoCounter = 0;
}

<script type="text/javascript">

    function create_and_open_downloading_submission_dialog() {

        //create the div that we will then make into a dialog

        $('body').append(
       '<div id="downloading_submission_dialog" title="Download Submission"> \
        <p>The zip is being generated and will automatically start downloading when it is ready, please do not leave the page or click the link again</p> \
    </div>');

        //make the div we just created into a dialog box

        $('#downloading_submission_dialog').dialog({
            modal: false,
            autoOpen: true,
            resizable: true,
            width: 350,
            height: 300,
            closeOnEscape: true,
            close: remove_downloading_submission_dialog,
            buttons: {"OK": remove_downloading_submission_dialog}
        });



        $('#downloading_submission_dialog').dialog('open');

        return false;

    }

    function remove_downloading_submission_dialog() {

        //change the dialog back into a normal div (that is what destroy does although it does not destroy the div)
        $('#downloading_submission_dialog').dialog("destroy");

        //then remove the div
        $('#downloading_submission_dialog').remove();
    }
            </script>

<div>
<p>
@ViewBag.NumberOfSubmissions of @ViewBag.ExpectedSubmissionsAndGrades submissions received <br />
@ViewBag.NumberGraded of @ViewBag.ExpectedSubmissionsAndGrades submissions graded <br />
 <br />@Html.ActionLink("Download all submissions for this activity", "GetAllSubmissionsForActivity", "FileHandler", new { assignmentActivityID = ViewBag.activityID }, new { onclick = "create_and_open_downloading_submission_dialog()" })
</p>
</div>

<table class="TeacherActivityTable">
<tr>
<th>
Name
</th>
<th>
Submitted Time
</th>
<th>
Grading Status
</th>
<th>
Inline Review Interface
</th>
<th>
Grade
</th>
<th>
Download Submission
</th>
</tr>


@foreach (ActivityTeacherTableViewModel.SubmissionInfo info in Model.SubmissionsInfo)
{
 <tr>
 <td>
 @info.Name
 </td>
 <td>
 @if (info.Time == null)
 {
     if (info.Graded)
     { 
     <span>Not Submitted</span>
     }
     else
     { 
     <span style="color:Red">Not Submitted</span>
     }
 }
 else
 {
     if (info.Time < ViewBag.DueDate || info.Graded)
     {
     <span>@info.Time</span>
     }
     else
     {
         <span style="color:Red">@info.Time</span> 
     }
 }
 </td>
 <td>
 @if (info.Graded)
 {
     <span>Graded</span>
 }
 else
 {
     <span style="color:Red">Not Graded</span>
 }
 </td>
 <td>
 @Html.ActionLink("Review", "InlineReview", "Assignment", new {assignmentActivityID= ViewBag.activityID, teamUserID = info.SubmitterID}, new {})
 </td>
 <td>
 @Html.ActionLink("Grade", "Index", "Rubric", new { abstractAssignmentActivityId = ViewBag.activityID, teamUserId = info.SubmitterID }, new { })
 </td>
 <td>
 @if (info.Time != null)
 { 
 @Html.ActionLink("Download Submission", "GetSubmissionZip", "FileHandler", new { teamUserID = info.SubmitterID, assignmentActivityID = ViewBag.activityID }, new { onclick = "create_and_open_downloading_submission_dialog()" })
 }
 else
 { 
 <text>Nothing To Download</text>
 }
 
 </td>
 </tr>   
 submissionInfoCounter++;
}

</table>