@model OSBLE.Models.Assignment

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Assignment</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ReleaseDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ReleaseDate)
            @Html.ValidationMessageFor(model => model.ReleaseDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DueDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DueDate)
            @Html.ValidationMessageFor(model => model.DueDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.isGradeable)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.isGradeable)
            @Html.ValidationMessageFor(model => model.isGradeable)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.isTeam)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.isTeam)
            @Html.ValidationMessageFor(model => model.isTeam)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PossiblePoints)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PossiblePoints)
            @Html.ValidationMessageFor(model => model.PossiblePoints)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.InstructorCanReview)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.InstructorCanReview)
            @Html.ValidationMessageFor(model => model.InstructorCanReview)
        </div>

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.WeightID, "Weight")
        </div>
        <div class="editor-field">
            @Html.DropDownList("WeightID", String.Empty)
            @Html.ValidationMessageFor(model => model.WeightID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Points)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Points)
            @Html.ValidationMessageFor(model => model.Points)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
