@using OSBLE.Models
@using OSBLE.Models.Assignments
@model OSBLE.Models.ViewModels.AssignmentListViewModel

<script src="@Url.Content("~/Scripts/osble.assignment_list.js")" type="text/javascript"></script>
<script type="text/javascript">
@{
//Chris wanted some sort of notification that a student's submission was received (ticket #406).  Pretty ugly at the moment,
//but it'll do
if(ViewBag.SubmissionReceived)
{
    @Html.Raw("alert(\"Your submission was successfully received.\");");
}
}
</script>

@{    
    ViewBag.assignmentListID = "assignmentListID_";
    ViewBag.Title = "Assignments";
    KeyValuePair<int, int> defaultItemOpened;

    if (ViewBag.DefaultItemOpened.Key != -1)
    {
        defaultItemOpened = ViewBag.DefaultItemOpened;
        <script type="text/javascript">

            $(function () {

            $('#@(ViewBag.assignmentListID + defaultItemOpened.Key.ToString())').accordion( "activate" , @(defaultItemOpened.Value));

            });
        
        </script>
    }
}

<h2>Assignments @Helpers.CreateToolTip(ToolTips.AssignmentTitle) </h2>

@if (ViewBag.ActiveCourse.AbstractRole.CanModify)
{
    <a href="@Url.Action("Index", "Home", new { area="AssignmentWizard" })" class="add_link" id="assignment_create_button">@Helpers.AddButton() Create New Assignment</a>
}

<p></p>

@if (ViewBag.PastAssignments.Count == 0 &&
     ViewBag.PresentAssignments.Count == 0 &&
     ViewBag.FutureAssignments.Count == 0)
{ 
    <h4>No Active Assignments</h4>
}

@if (ViewBag.PastAssignments.Count > 0)
{
    ViewBag.AssignmentList = 0;
<h4>Past Assignments (@ViewBag.PastAssignments.Count)</h4>
@Html.Partial("_AssignmentList", ViewBag.PastAssignments as List<StudioAssignment>)
    
}

@if (ViewBag.PresentAssignments.Count > 0)
{
    ViewBag.AssignmentList = 1;
<h4>Present Assignments @(ViewBag.PresentAssignments.Count)</h4>

@Html.Partial("_AssignmentList", ViewBag.PresentAssignments as List<StudioAssignment>)
    
}

@if (ViewBag.FutureAssignments.Count > 0)
{
    ViewBag.AssignmentList = 2;
<h4>Future Assignments (@ViewBag.FutureAssignments.Count)</h4>

@Html.Partial("_AssignmentList", ViewBag.FutureAssignments as List<StudioAssignment>)
    
}


@if (ViewBag.DraftAssignments.Count > 0)
{
    ViewBag.AssignmentList = 4;
<h4>Draft Assignments (@ViewBag.DraftAssignments.Count)</h4>    
    
@Html.Partial("_AssignmentList", ViewBag.DraftAssignments as List<StudioAssignment>)
    
}