@using OSBLE.Models
@using OSBLE.Models.Assignments
@model OSBLE.Models.ViewModels.AssignmentListViewModel

@{
    ViewBag.Title = "Assignments";
}

<script src="@Url.Content("~/Scripts/osble.assignment_list.js")" type="text/javascript"></script>

<h2>Assignments @Helpers.CreateToolTip(ToolTips.AssignmentTitle) </h2>

@if (ViewBag.ActiveCourse.CourseRole.CanModify) {

    <a href="#" class="add_link" id="assignment_create_button">@Helpers.AddButton() Create New Assignment</a>
        <script type="text/javascript">
            $(function () {
                $('#assignment_create_dialog').dialog({
                    modal: true,
                    autoOpen: false,
                    resizable: false,
                    width: 350,
                    height: 200,
                    closeOnEscape: false
                });

                $('#assignment_create_button').click(function () { $('#assignment_create_dialog').dialog('open'); });
            });
    </script>
        
    <div id="assignment_create_dialog" title="Create New Assignment">
        <p>Select an assignment type to create:</p>
        <div>@Html.ActionLink("Basic Assignment", "Create", "BasicAssignment") @Helpers.CreateToolTip(ToolTips.AssignmentBasic) </div>
        <div>@Html.ActionLink("Studio Assignment", "SilverlightTest", "StudioAssignment") @Helpers.CreateToolTip(ToolTips.AssignmentStudio) </div>
    </div>
}

<p></p>

@if (ViewBag.PastAssignments.Count == 0 &&
     ViewBag.PresentAssignments.Count == 0 &&
     ViewBag.FutureAssignments.Count == 0)
{ 
    <p>No Active Assignments</p>
}

@if (ViewBag.PastAssignments.Count > 0)
{
    
<p>Past Assignments (@ViewBag.PastAssignments.Count)</p>

@Html.Partial("_AssignmentList", ViewBag.PastAssignments as List<StudioAssignment>)
    
}

@if (ViewBag.PresentAssignments.Count > 0)
{

<p>Present Assignments (@ViewBag.PresentAssignments.Count)</p>

@Html.Partial("_AssignmentList", ViewBag.PresentAssignments as List<StudioAssignment>)
    
}

@if (ViewBag.FutureAssignments.Count > 0)
{
    
<p>Future Assignments (@ViewBag.FutureAssignments.Count)</p>

@Html.Partial("_AssignmentList", ViewBag.FutureAssignments as List<StudioAssignment>)
    
}


@if (ViewBag.DraftAssignments.Count > 0)
{

<p>Draft Assignments (@ViewBag.DraftAssignments.Count)</p>    
    
@Html.Partial("_AssignmentList", ViewBag.DraftAssignments as List<StudioAssignment>)
    
}