@using OSBLE.Models.Assignments;
@using OSBLE.Models.Assignments.Activities;
@using OSBLE.Models;
@model OSBLE.Models.Assignments.Assignment
@{
    ViewBag.Title = "Assignment Creation Wizard";
    ViewBag.ComponentName = "Comment Categories";
}
@section Header
{
    <script src="@Url.Content("~/AssignmentWizard/Content/js/commentCategories.js")" type="text/javascript"></script>
}
@Html.HiddenFor(m => m.ID)
<div id="manual_config_options" class="indented_options">
    Create a new set of comment categories called
        <input type="text" id="category_config_name" name="category_config_name" value="@Model.CommentCategory.Name" />
        <br />
        <br style="clear: both;" />
    <div id="category_data">
    @{int counter = 0;
      
    /*
    foreach (CommentCategory category in Model.CommentCategory.Categories)
    {
        string categoryId = "category_" + counter;
        string categoryOptionIdPrefix = "category_option_" + counter;
        string dataId = "option_data_" + counter;
        string addOptionId = "add_option_" + counter;
        
        <div id="@categoryId" class="deliverable">
            <div class="deliverable_tools">
                <div class="deliverable_tools">
                    <a href="#" title="Delete this deliverable" onclick="deleteDeliverable()">
                        <img src="/Content/images/delete_up.png" alt="Delete Button" />
                    </a>
               </div>
        </div>
    }
    */
    }
    </div>
    <div id="add_new_category_div">
        <br style="clear: left;" />
        <p>
            <a href="#" id="add_new_category" title="Add new category" style="text-decoration: none;">
                <img src="@Url.Content("~/Content/images/add_up.png")" alt="Add new category" />
                Add a category </a>
        </p>
    </div>
    <br style="clear: both;" />
</div>
<script type="text/javascript">
    $(document).ready(documentReady);

    //Called when the document has finished loading and is safe to make DOM calls
    function documentReady() {
        
    }
</script>