@using OSBLE.Areas.Analytics.Controllers

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/bootstrap.min.css")
@Styles.Render("~/Areas/Analytics/Content/AnalyticsIndex.css")

<div id="analytics_menu">
    @Html.Partial("~/Areas/Analytics/Views/Analytics/_AnalyticsMenu.cshtml")    
</div>

<div id="analytics_options">
    @Html.Partial("~/Areas/Analytics/Views/Default/_DefaultOptions.cshtml")
    @*@Html.Partial("~/Areas/Analytics/Views/Calendar/_CalendarOptions.cshtml")*@
</div>

<div id="analytics_content">
    @Html.Partial("_Default")
</div>

<script type="text/javascript" src="@Url.Content("~/Areas/Analytics/Scripts/AnalyticsIndex.js")"></script>