@model OSBLE.Models.Courses.Course

@{
    ViewBag.Title = "Approval";
    
    var currentUser = ViewBag.Currentuser;
    var student = ViewBag.Student;
    string studentName = student.UserProfile.FirstName + " " +student.UserProfile.LastName;

    //TODO: dmo: this is not bringing up the correct correct as of 6/5/2014 10PM.
    //need to look into getting the correct course from the notification request for this to work.    
    string courseName = student.AbstractCourse.Name;
    string coursePrefix = student.AbstractCourse.Prefix;
    string courseSemester = student.AbstractCourse.Semester;
    string courseYear = student.AbstractCourse.Year;
    string courseID = student.AbstractCourse.ID.ToString();
    string userId = student.UserProfile.ID.ToString();
    var notification = ViewBag.notification;    
    
}

@using (Html.BeginForm("HandleCourseApproval", "Course", FormMethod.Post))
{
    <h2>Approve Student for Course</h2>
    <ul>
        <li>Course Prefix: @coursePrefix</li>
        <li>Course Name: @courseName</li>
        <li>Semester: @courseSemester</li>
        <li>Year: @courseYear</li>
        <li>Student to Approve: @studentName</li>
    </ul>
    
    <input type="submit" value="Deny Request" name="submitButton"/>
    <input type="submit" value="Approve Request" name="submitButton" />
    
    <input type="hidden" name="userId" value="@userId" />
    <input type="hidden" name="courseId" value="@courseID" />

}




