@using OSBLE.Models.Courses
<div id="tabs">
    @using OSBLE.Controllers
    @if (ViewBag.Menu != null)
    {
        foreach (OSBLEController.MenuItem m in ViewBag.Menu)
        {
            if (m.IsVisibleTo(ViewBag.CurrentUser, ViewBag.ActiveCourse))
            {
            @Html.ActionLink(@m.Name, @m.Action, @m.Controller, new { area = "" }, new { Class = ViewBag.CurrentTab == @m.Name ? "tab_current" : "" })
            }
        }
    }
</div>
