@using System.Configuration
@using OSBLE.Utility
<!DOCTYPE html>
<html>
<head>
  
    <meta charset="utf-8" http-equiv="CACHE-CONTROL" content="NO-CACHE" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>OSBLE - @ViewBag.Title</title>
    
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/jquery.contextMenu.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/jquery-tooltip.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/jquery-ui-1.8.13.custom.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/jquery-ui-timepicker.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/bootstrap-3.3.5/css/bootstrap.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Site.css")?version=1.1.5" /> @* Update version to cause browsers to reload css file *@
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/navbar.css")" />
    <link rel="shortcut icon" type="text/css" href="/Content/favicon.ico" />

    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-2.0.1.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-1.10.4.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.contextMenu.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.ui.position.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.cookie.js")"></script>

    <script type="text/javascript" src="@Url.Content("~/Scripts/json2.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/modernizr-2.6.2.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.collapse.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.easing.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.ui.timepicker.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.tmpl.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.selectboxes.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-tooltip.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Silverlight.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/osble.js")?version=1.1"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/getUtcOffset.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/time.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/moment.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/bootstrap-3.3.5/js/bootstrap.min.js")"></script>


    @RenderSection("Header", required: false)
    @RenderSection("SubHeader", required: false)

    </head>
    <body>

        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#osbleNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/"><img src="@Url.Content("~/Content/images/navbar_logo.png")" alt="OSBLE" id="logo" /></a>
                </div>

                <div class="collapse navbar-collapse" id="osbleNavbar">
                    <ul class="nav navbar-nav">
                        @Html.Partial("_MenuControl")
                        @Html.Partial("_CourseList")
                    </ul>

                    <ul class="nav navbar-nav navbar-right">

                        <li class="dropdown">
                            <a id="profile_selector" class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <img id="profile_pic" class="hidden-xs" src="@Url.Action("Picture", "User", new { id = OsbleAuthentication.CurrentUser.ID, size = 30 })" />
                                @ViewBag.CurrentUser.FirstName 
                                @ViewBag.CurrentUser.LastName
                                @if (ViewBag.UnreadMessageCount > 0)
                                { 
                                    <sup><span class="badge messages">@ViewBag.UnreadMessageCount</span></sup> 
                                }
                                <span class="caret"></span>
                            </a>

                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Index", "Mail", new { area="" })"><span class="glyphicon glyphicon-envelope"></span> Mail (@ViewBag.UnreadMessageCount)</a></li>
                                <li><a href="@Url.Action("Profile", "Account", new { area = "" })"><span class="glyphicon glyphicon-user"></span> View Profile</a></li>
                                <li><a href="@Url.Action("Profile", "Account", new { area = "" })"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
                                <li class="divider"></li>
                                <li><a href="@Url.Action("LogOff", "Account", new { area = "" })"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="@Url.Action("Index", "Help", new { area = "" })" title="Help">
                                <span class="glyphicon glyphicon-question-sign"></span>
                                <span id="helptext"> Help</span>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
        <section id="main" data-service-path="@ConfigurationManager.AppSettings["DataServiceUrl"]">
            <div class="container-fluid" id="main_container">
                @RenderBody()
            </div>
        </section>
</body>
</html>
