@{
    ViewBag.Title = "Help";
}
<h1>Help</h1>
OSBLE contains the following help articles:
<br />
<h2>Managing Courses and Users</h2>
<ul>
    <li>@Html.ActionLink("Creating a new course", "CreateCourse")</li>
    <li>@Html.ActionLink("Adding students to a course", "AddingStudents")</li>
    <li>@Html.ActionLink("Adding TAs or moderators to a course", "AddingOthers")</li>
    <li>@Html.ActionLink("Managing your Course Roster", "RosterGuide")</li>
</ul>

<h2>Creating Assignments</h2>
<ul>
    <li>@Html.ActionLink("Creating basic assignments", "CreateBasicAssignment")</li>
    <li>@Html.ActionLink("Creating a review assignment", "CreateReviewAssignment")</li>
    <li>@Html.ActionLink("Creating review discussion assignments", "CreateReviewDiscussion")</li>
    <li>@Html.ActionLink("Creating a Rubric", "CreateRubric")</li>
    <li>@Html.ActionLink("Using the Team Builder", "UsingTeamBuilder")</li>
</ul>

<h2>Managing Assignments</h2>
<ul>
    <li>@Html.ActionLink("Using the gradebook", "Gradebook")</li>
    <li>@Html.ActionLink("Editing an Assignment Rubric offline", "EditRubricOffline")</li>
    <li>@Html.ActionLink("Adding web links to an assignment's description", "AddWebLinks")</li>
</ul>