@{
    ViewBag.Title = "Using the Team Builder";
}
<h1>Using the Team Builder</h1>
<p>
    <br />
    In OSBLE, both Basic Assignments and Critical Reviews can be team-based assignments. In the Assignment Wizard, the Team Builder provides many tools to assist in team creation. 
    To use the tool, you must first begin creating either a Basic Assignment or a Critical Review. If you need help getting started, view the <a href="~/Help/CreateBasicAssignment"><u>Create Basic Assignment</u></a> or <a href="~/Help/CreateReviewAssignment"><u>Create Review Assignment</u></a> links.
    On the Components page of your Assignment Wizard, check "The assignment is team-based". This will add the Assignment Teams tab to the wizard. Select any other components you want and click "Continue".
</p>
<img src="@Url.Content("~/Content/images/help/team_1.png")" alt="team component" />
<p>
    <br />
    Fill out the Basic Settings for you assignment as desired, then click "Next".
</p>
<img src="@Url.Content("~/Content/images/help/team_2.png")" alt="basic settings" />
<p>
    <br />
    Now we are at the Team Assignment page. At the top of the page is the Auto Generation Options block, in which you can specify a few options and let OSBLE design the teams. 
    To use this feature, you must first decide if you want to allow Cross-Section teams. Then, we can specify how many students we want per team, how many teams we want total, or we can copy a team format from a previous assignment. 
    To demonstrate, we will create an auto-configuration with at least 3 students per team, first with cross-section teams allowed (left), then with cross-section teams prohibited (right).
</p>
<img src="@Url.Content("~/Content/images/help/team_3.png")" alt="auto generate" />
<p>
    <br />
    As you can see on the left, Team 01 has students in sections 0, 1, and 2. On the right, each team consists of students in the same section only. 
</p>
<img src="@Url.Content("~/Content/images/help/team_4.png")" alt="auto generate results" />
<p>
    <br />
    Similarly, the auto generate options can create teams based on the amount of teams you would like, or by taking a layout from a previous teams assignment.
    In some cases, you'll want to manually assign teams or modify the teams created by the auto generation options.
    To manually create teams, we need to first add teams to the teams list. To do this, click on "Create New Team" until you have as many teams as you want. You can add more teams at any time.

</p>
<img src="@Url.Content("~/Content/images/help/team_5.png")" alt="create teams manually" />
<p>
    <br />
    For demonstration purposes, we will create 3 new teams here. Now that we have teams, we can begin assigning students to teams. You can move students to different teams by simply clicking and dragging them into the team boxes.

</p>
<img src="@Url.Content("~/Content/images/help/team_6.png")" alt="adding students to teams manually" />
<p>
    <br />
    Note that you can also delete teams by pressing the delete button in the upper right-hand corner of a team box. Deleting a team will automatically return students to the "Unassigned Students" section.
</p>
<img src="@Url.Content("~/Content/images/help/team_7.png")" alt="deleting a team" />
<p>
    <br />
    When you are satisfied with your team configuration, click "Next" and publish your assignment on the next page. 
</p>
<img src="@Url.Content("~/Content/images/help/team_8.png")" alt="click next" />
