@model OSBLE.Models.Mail

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Mail</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.FromUserProfileID, "FromUserProfile")
        </div>
        <div class="editor-field">
            @Html.DropDownList("FromUserProfileID", String.Empty)
            @Html.ValidationMessageFor(model => model.FromUserProfileID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ToUserProfileID, "ToUserProfile")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ToUserProfileID", String.Empty)
            @Html.ValidationMessageFor(model => model.ToUserProfileID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CourseReferenceID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CourseReferenceID)
            @Html.ValidationMessageFor(model => model.CourseReferenceID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Subject)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Subject)
            @Html.ValidationMessageFor(model => model.Subject)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Message)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Message)
            @Html.ValidationMessageFor(model => model.Message)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
