@model IEnumerable<OSBLE.Models.Users.Mail>
@using OSBLE.Models

@{
    ViewBag.Title = "Mail";
}
    <p>
        @Html.ActionLink("Compose new message", "Create")
        @*&nbsp &nbsp
        @Html.ActionLink("Compose message to Instructor", "Create")
        &nbsp &nbsp
        @Html.ActionLink("Compose message to TA(s)", "Create")
        &nbsp &nbsp
        @Html.ActionLink("Compose message to Instructor and TA(s)", "Create")*@
    </p>

    @if (ViewBag.BoxHeader == "Inbox")
    {
        <h2>Inbox</h2>
        <p>@Html.ActionLink("Go to Outbox","Outbox")</p>
    }
    else
    {
        <h2>Outbox</h2>
        <p>@Html.ActionLink("Go to Inbox", "Index")</p>
    }


<table class="inbox_table">
    @{
        bool toggle = false;
    }
    @foreach (var item in Model)
    {
      
        <tr id="mail_item_@(item.ID)" class="@if (!item.Read)
                                             {<text>inbox_unread</text>}">
            <td class="inbox_time">
                <small>@item.Posted.ToShortDateString() @item.Posted.ToShortTimeString()</small>
            </td>
            <td class="inbox_subject">
                @if (ViewBag.BoxHeader == "Inbox")
                {
                    <small>@item.FromUserProfile.FirstName @item.FromUserProfile.LastName</small>
                }
                else
                {
                    <small>@item.ToUserProfile.FirstName @item.ToUserProfile.LastName</small>
                }
                &nbsp;
                @Html.ActionLink(item.Subject, "View", new { id = item.ID })
            </td>
            <td class="inbox_tools">
                @if (item.ToUserProfile == ViewBag.CurrentUser)
                {
                    <form action="@Url.Action("Delete")"
                        style="display: inline;"
                        data-ajax="true"
                        data-ajax-success="$('#mail_item_@(item.ID)').hide('blind',{},'slow',function(){$(this).remove();})"
                        data-ajax-confirm="Are you sure you want to delete this message?"
                        method="post">
                        <input type="hidden" name="ID" value="@item.ID" />
                        @Helpers.DeleteSubmit("Delete This Mail Message")
                    </form>

                }
            </td>
        </tr>
    }
</table>