@model IEnumerable<OSBLE.Models.Mail>
@{
    ViewBag.Title = "Index";
}
    <h2>New Message</h2>
    Enter recipient's name to compose message:<br />


        <input id="people_finder" />
        <script type="text/javascript">

            $("#people_finder").autocomplete({
                source: "@(Url.Action("Search"))",
                select: function(event, ui) {
                    location.href="@Url.Action("Create")?recipientID=" + ui.item.value;
                }
            }).data("autocomplete")._renderItem = function( ul, item ) {
                return $( "<li></li>" )
                .data( "item.autocomplete", item )
                .append( "<a>" + "<img src=\"@Url.Action("ProfilePicture")/" + item.value + "\" class=\"small_profile_picture\" alt=\"Profile Picture\" /> " + item.label+ "</a>" )
                .appendTo( ul );
            }

        </script>

    <h2>
    Inbox</h2>

<table>
    <tr>
        <th>
            Read:
        </th>
        <th>
            From:
        </th>
        <th>
            Subject:
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Read)
            </td>
            <td>
                @item.FromUserProfile.FirstName @item.FromUserProfile.LastName
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.ActionLink("View", "View", new { id = item.ID })
            </td>
        </tr>
    }
</table>