@model IEnumerable<OSBLE.Models.Mail>
@{
    ViewBag.Title = "Index";
}
    <h2>New Message</h2>
    Enter recipient's name to compose message:<br />


        <input id="people_finder" />
        <script type="text/javascript">

            $("#people_finder").autocomplete({
                source: "@(Url.Action("Search"))",
                select: function(event, ui) {
                    location.href="@Url.Action("Create")?recipientID=" + ui.item.value;
                },
                focus: function(event, ui) {return false;}
            }).data("autocomplete")._renderItem = function( ul, item ) {
                return $( "<li></li>" )
                .data( "item.autocomplete", item )
                .append( "<a>" + "<img src=\"@Url.Action("ProfilePicture")/" + item.value + "\" class=\"small_profile_picture\" alt=\"Profile Picture\" /> " + item.label+ "</a>" )
                .appendTo( ul );
            }

        </script>

    <h2>
    Inbox</h2>

<table class="inbox_table">
    @{
        bool toggle = false;
    }
    @foreach (var item in Model)
    {
        toggle = !toggle;
        
        <tr class="@if(toggle){<text>inbox_alternate</text>}@{<text> </text>}@if(!item.Read){<text>inbox_unread</text>}">
            <td class="inbox_time">
                <small>@item.Posted.ToShortDateString() @item.Posted.ToShortTimeString()</small>
            </td>
            <td class="inbox_subject">
                <small>@item.FromUserProfile.FirstName @item.FromUserProfile.LastName</small>&nbsp;
                @Html.ActionLink(item.Subject, "View", new { id = item.ID })
            </td>
            <td class="inbox_tools">
                @Helpers.DeleteButton()
            </td>
        </tr>
    }
</table>