@model OSBLE.Models.Users.Mail
@using OSBLE.Models

@{
    ViewBag.Title = "Mail";
}
<h2>@Model.Subject</h2>
    <div class="mail_user">
        <b>From:</b><br />
        @Helpers.ProfilePicture(@Url.Action("ProfilePicture",new { ID=Model.FromUserProfileID }))
        @Model.FromUserProfile.FirstName @Model.FromUserProfile.LastName
    </div>
    <div class="mail_user">
        <b>To:</b><br />
        @Helpers.ProfilePicture(@Url.Action("ProfilePicture",new { ID=Model.ToUserProfileID }))
        @Model.ToUserProfile.FirstName @Model.ToUserProfile.LastName
    </div>

    <div id="mail_message">
        @Helpers.Linkify(Model.Message)
    </div>
<p>
@if (ViewBag.CurrentUser == Model.ToUserProfile)
{
    using(Html.BeginForm("Create","Mail",FormMethod.Get)) {
        <input type="hidden" name="recipientID" value="@Model.FromUserProfileID" />
        <input type="hidden" name="replyTo" value="@Model.ID" />
        <input type="submit" value="Reply to Message" />  
       @Helpers.CreateToolTip(ToolTips.MailReply)  
    }
    <br />

    using (Html.BeginForm("Delete", "Mail", FormMethod.Post))
    {
        <input type="hidden" name="ID" value=@Model.ID />
        <input type="submit" value="Delete Message" onclick="return confirm('Are you sure you want to delete this message?')" /> 
        @Helpers.CreateToolTip(ToolTips.MailDelete)
    }
    <br />
    
    @Html.ActionLink("Back to Inbox", "Index")
}
else
{
    @Html.ActionLink("Back to Outbox", "Outbox")
}
</p>