@using OSBLE.Models.Services.Uploader;
@using OSBLE.Models;
		<script type="text/javascript">

		    $(function () {

		        $('#collapser').jqcollapse({
		            slide: true,
		            speed: 1000,
		            easing: 'easeOutCubic'
		        });

		    });
			
		</script>
<ul id="collapser">
    <li><span onclick="if (filemanager_folderselected) { filemanager_folderselected('/', this); }">Files and Links</span>
        <ul>
        @{
            DirectoryListing root = ViewBag.CourseLinks as DirectoryListing;
        }
        @BuildDirectoryListing(root, true)
        </ul>
    </li>
</ul>

@helper BuildDirectoryListing(DirectoryListing listing, bool isFirstRun = false)
{
    if(!isFirstRun)
    {
        string path = listing.AbsolutePath;
        if (path.EndsWith("CourseDocs"))
        {
            path = string.Empty;
        }
        else
        {
            int index = path.IndexOf("CourseDocs");
            path = path.Substring(index + ("CourseDocs").Length);
            path = path.Replace('\\', '/');    
        }
        string clickJS = "if (filemanager_folderselected) { filemanager_folderselected(\"";
        clickJS += path;
        clickJS += "\", this); }";
    @:<li><span onclick='@clickJS'>@listing.Name</span>
        @:<ul>
    }
        foreach(DirectoryListing subListing in listing.Directories)
        {
            @BuildDirectoryListing(subListing)
        }
        foreach(FileListing file in listing.Files)
        {
            <li><a href="@file.FileUrl" title="Last uploaded on: @file.LastModified">@file.Name.Substring(0, file.Name.LastIndexOf('.'))</a></li>
        }
    if(!isFirstRun)
    {
        @:</ul>
    @:</li>
    }
    
}