@model IEnumerable<OSBLE.Models.CoursesUsers>



@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@foreach (OSBLE.Controllers.RosterController.UsersByRole userByRole in ViewBag.UsersByRoles)
{ 
    if (userByRole.Count > 0)
    { 
    @userByRole.RoleName;
<table>
    <tr>
        <th>
            UserProfile
        </th>
        <th></th>
    </tr>
    @foreach (OSBLE.Models.UserProfile user in userByRole.Users)
    { 
    <tr>
        <td>
            @user.UserName
        </td>
        <td>
        @if (ViewBag.ActiveCourse.CourseRole.CanModify)
        { 
            @Html.ActionLink("Edit", "Edit", new { userProfileID = user.ID }) <text>|</text>
            @Html.ActionLink("Details", "Details", new { userProfileID = user.ID }) <text>|</text>
            @Html.ActionLink("Delete", "Delete", new { userProfileID = user.ID })
        }
        </td>
    </tr>
    }
</table>
    }
}
