@using OSBLE.Controllers;
@model IEnumerable<OSBLE.Models.CoursesUsers>
@{
    ViewBag.Title = "Index";
}
<h2>
    Roster</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
@foreach (RosterController.UsersBySection usersBySection in ViewBag.UsersBySections)
{ 
  <h3>@Helpers.DisplaySection(usersBySection.SectionNumber) </h3>
<table class="roster_table">
    <tr>
        @foreach (RosterController.UsersByRole userByRole in usersBySection.UsersByRole)
        {
            if (userByRole.Count > 0)
            { 
            <td>
                <h3>@userByRole.RoleName (@userByRole.Count.ToString())
                </h3>
                <ul class="user_list">
                    @foreach (OSBLE.Models.UserProfile user in userByRole.Users)
                    {
                        <li>
                        @if ((user != ViewBag.CurrentUser) || ViewBag.CanEditSelf == true)
                        {
                            <div class="user_controls">
                            <a href="mailto:@user.UserName"><img src="../../Content/images/mail_up.png" /></a>
                            <a href="@Url.Action("Edit", "Roster", new { userProfileID = user.ID })"><img src="../../Content/images/edit_up.png" alt="Edit Button"/></a>
                            <a href="@Url.Action("Delete", "Roster", new { userProfileID = user.ID })"><img src="../../Content/images/delete_up.png" alt="Delete Button"/></a>
                            
                            </div>
                        }
                        
                        @if (user.UserName != null)
                        {
                            <text>@user.FirstName @user.LastName</text>
                        }
                        else
                        {
                            <text><em>Pending (@user.Identification.Substring(Math.Max(user.Identification.Length - 4, 0), Math.Min(user.Identification.Length, 4)))</em></text>
                        }
                        
                        </li>
                    }
                </ul>
            </td>
            }
        }
    </tr>
</table>
}
