@model IEnumerable<OSBLE.Models.CoursesUsers>
@{
    ViewBag.Title = "Index";
}
<h2>
    Roster</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="roster_table">
    <tr>
        @foreach (OSBLE.Controllers.RosterController.UsersByRole userByRole in ViewBag.UsersByRoles)
        {
            if (userByRole.Count > 0)
            { 
            <td>
                <h3>@(userByRole.RoleName + " (" + userByRole.Count.ToString() + ")")
                </h3>
                <ul class="user_list">
                    @foreach (OSBLE.Models.UserProfile user in userByRole.Users)
                    {
                        <li>
                            <div class="user_controls">
                            <a href="mailto:@user.UserName"><img src="../../Content/images/mail_up.png" /></a>
                            <a href="@Url.Action("Edit","Roster",new{userProfileID=user.ID})"><img src="../../Content/images/edit_up.png" alt="Edit Button"/></a>
                            <a href="@Url.Action("Delete","Roster",new{userProfileID=user.ID})"><img src="../../Content/images/delete_up.png" alt="Delete Button"/></a>
                            
                            </div>
                            @(user.FirstName + " " + user.LastName)
                        </li>
                    }
                </ul>
            </td>
            }
        }
    </tr>
</table>
