@using OSBLE.Models.HomePage
@using OSBLE.Models.Courses
@using OSBLE.Models.Users
@using System.Text.RegularExpressions
@using System.Collections
@using System.Web.Mvc

@* Section headers for user tabs. *@
@helper DisplaySection(string sectionNum)
    {
        if (sectionNum != "0")
        {
    <text>Section @sectionNum</text>
        }
        else
        {
    <text>All Sections</text>
        }
}

@* Only use this helper in a place that requires an active course (uses [RequireActiveCourse] attribute) *@
@helper DisplayName(UserProfile user, CoursesUsers activeCourse, bool show = false)
    {
        if (!activeCourse.CourseRole.Anonymized && (activeCourse.CourseRole.CanGrade || (user.ID == activeCourse.UserProfileID) || show))
        {
    <text>@user.FirstName @user.LastName</text>
        }
        else
        {
    <text>Anonymous</text>
        }
}

@* For dashboard posts/replies, echos display name along with optional title. *@
@helper DisplayNameForDashboard(AbstractDashboard d)
    {
    <text>@d.DisplayName</text>
            if (d.DisplayTitle != "")
            {
    <text> <small><em>(@d.DisplayTitle)</em></small></text>
            }
}

@* Formats date consistently for display *@
@helper DisplayDate(DateTime dt)
    {
    @dt.ToLongDateString()<text> </text>@dt.ToShortTimeString()
}

@* Buttons for editing/submitting *@

@helper MailButton()
    {<img src="../../Content/images/mail_up.png" />}

@helper AddButton()
    {<img src="../../Content/images/add_up.png" alt="Add Button" />}

@helper EditButton()
    {<img src="../../Content/images/edit_up.png" alt="Edit Button" />}

@helper DeleteButton()
    {<img src="../../Content/images/delete_up.png" alt="Delete Button" />}

@helper DeleteSubmit()
    {<input type="image" src="../../Content/images/delete_up.png" alt="Delete Button" />}

@* Returns last 4 digits of student ID for pending students *@
@helper DisplayLastFourID(string Identification)
    { <text>(@Identification.Substring(Math.Max(Identification.Length - 4, 0), Math.Min(Identification.Length, 4)))</text>}

@* For Users tab, either shows user's name or 'Pending' plus the last 4 of their ID *@
@helper DisplayFullNameOrPending(UserProfile user)
    {
        if (user.UserName != null)
        {
    <text>@user.FirstName @user.LastName</text>
        }
        else
        {
    <text><em>Pending @Helpers.DisplayLastFourID(user.Identification) </em></text>
        }
}

@* Standard wrapper for profile pic *@
@helper ProfilePicture(string url)
    {
    <img src="@url" alt="Profile Picture" class="profile_picture" />
}

@* Smaller thumbnail for profile pic *@
@helper SmallProfilePicture(string url)
    {
    <img src="@url" alt="Profile Picture" class="small_profile_picture" />
}

@* Finds http links in content and turns them into clickable links.
Also runs content through nl2br to convert newlines to <br /> tags. *@
@helper Linkify(string text)
    {
        List<string> links = LinkifyHelper(text);
        bool isLink = false;
        foreach (string s in links)
        {
            if (isLink)
            {<a href="@s">@s</a>
                isLink = !isLink;
            }
            else
            {
    <text>@Helpers.nl2br(@s)</text>
                isLink = !isLink;
            }
        }
}

@* Returns default profile picture (saves lookups to the controller for profile pic) *@
@helper DefaultProfilePicture()
    {
    <img src="/Content/images/default.jpg" alt="Profile Picture" class="profile_picture" />
}

@* Converts new lines to html <br /> tags in a content area. *@
@helper nl2br(string content)
    {
        string[] s = content.Split('\n');
        for (int i = 0; i < s.Length; i++)
        {
    @s[i]
            if (i != s.Length - 1)
            {
    <text><br /></text>
            }
        }
}

@* Displays the tag for the course/community (e.g. CptS 121 or Comm) *@
@helper CourseTag(AbstractCourse ac)
    {
    if (ac is Community)
    {
        Community c = (Community)ac;
        @c.Nickname
    }
    else if (ac is Course)
    {
        Course c = (Course)ac;
        @c.Prefix<text> </text>@c.Number
    }
}

@functions{
    #region C# functions

    /// <summary>
    /// This takes a string and splits it where a link is detected.
    /// It will insert a blank string at the front
    /// </summary>
    /// <param name="text"></param>
    /// <returns></returns>
    static List<string> LinkifyHelper(string text)
    {
        int offset = 0;

        Regex reg = new Regex(@"(https?://[\w\.]+[/.*]?.*)");

        List<string> textSplit = reg.Split(text).ToList();

        if (reg.IsMatch(textSplit[0]))
        {
            textSplit.Insert(0, "");
        }

        return textSplit;
    }
    

#endregion
    }
